{% extends "userT\base3.html"%}
{%load crispy_forms_tags %}
{% crispy form form.helper%}
{% block ApproverDetails%}


<body>
  
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item normal">
          <a href="/main">Home</a>
        </li>
        <li class="breadcrumb-item active">
         <a aria-current="page">Upload Excel</a>
        </li>
    </ol>
</nav>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h6 class="card-header">
					Upload Excel
				</h6>
				<div class="card-body">
					<p class="card-text">
                        <p>Please select the desired Excel CSV format file for uploading. It is advisable to check the file for inconsistency prior to the upload process.</p>
						<form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}  
                            {{form|crispy}}
                            <button class="btn btn-outline-primary my-2 my-sm-0" style="float:right" type=submit>
                                Confirm and Upload File
                            </button>
                        </form>
					</p>
				</div>
				
			</div>
		</div>
	</div>
</div>
    
</body>     


{%endblock%}




