{% extends "userT\base3.html"%}
{% block ApproverList%}
<!doctype html>
<html lang="en">
  

<body>

  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item normal">
        <a href="/main">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
          <a aria-current="page">Approver List</a>
      </li>
    </ol>
  </nav>

      <div class="row" >
        <table class="table table-striped table-hover"> <!--set to maximum 20 rows per page-->
          <thead class="thead-dark">
            <tr>
              <th>
                StudyActionNo
              </th>
              <th>
                StudyName
              </th>
              <th>
                Disipline
              </th>
              <th>
                Subdisipline
              </th>
              <th>
                Cause
              </th>
              <th>
                Consequence
              </th>
              <th>
                Recomendations
              </th>
              <th>
                InitialRisk
              </th>
              <th>
                Response
              </th>
              
             </tr>
          </thead>
          <tbody>
            {%for approverL in object_list%}
            {% for routes  in approverL %}
              {% for x  in routes %}
            <tr>
              <td><a class="article-title" href="{% url  'ApproveForm' x.id %}"">{{ x.StudyActionNo }}</a></td>
              <td>{{ x.StudyName }}<</td>
              <td>{{ x.Disipline }}<</td>
              <td>{{ x.Subdisipline }}<</td>
              <td>{{ x.Cause }}<</td>
              <td>{{ x.Consequence }}<</td>
              <td><a class="article-title" href="{% url  'ApproveForm' x.id %}"">{{ x.Recomendations }}</a><</td>
              <td>{{ x.InitialRisk }}<</td>
              <td>{{ x.Response }}<</td>
              {%endfor%}
              {%endfor%}
            {%endfor%}
            
          
{%endblock%}
++