{% extends "userT/base3.html"%}
{%block title%}Approver Actions{%endblock%}
{% block ApproverList%}
<!doctype html>
<html lang="en">

<body>
  <!--breadcrumbs-->
  <nav>
    <!-- 20210828 edward UI added border color -->
    <ol class="breadcrumb" style="background-color: #ffffff;position:relative;  right: -40px;bottom: -25px;">
      <li class="breadcrumb-item normal">
        <a href="/main">Dashboard</a>
      </li>
      <li class="breadcrumb-item-active">
        <a aria-current="page">Approver Actions</a>
      </li>

      <li>
        <!-- This supposed to be empty to maintain the parent - child RS in css -->
      </li>
    </ol>
  </nav>
  <br>
  <div class="col-md-12 center" style="left:20pt">
    <div class="card" style="width: auto;">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <h4 class="card-header parent-font">
              Approver Actions
            </h4>
            <div class="card-body" style="float:left col-md-12; overflow:scroll;">
              <p class="card-text">
                <table style="font-size:30; width:100%" class="table table-striped table-hover display" id="example">
                  <!--set to maximum 20 rows per page-->

                  {%include "userT/inclactioneeapprtableheader.html"%}
                  <th>Responses</th>
                  </tr>
                  </thead>


                  <tbody>
                    {%for approverL in object_list%}

                    {% for x  in approverL %}
                    <tr>
                      <td><a class="article-title" href="{% url  'ApproveFormMixin' x.id %}">{{ x.StudyActionNo }}</a>
                      </td>
                      <td>{{ x.StudyName__StudyName }}</td>
                      <td>{{ x.Disipline }} / {{ x.Subdisipline }} </td>

                      <td>{{ x.Cause }}</td>

                      <td><a class="article-title" href="{% url  'ApproveFormMixin' x.id %}">{{ x.Recommendations }}</a>
                      </td>

                      <td>{{ x.DueDate }}</td>
                      {%block incInitialRiskColour%}

                      {%if riskmatrix%}
                      {% with initialrisk=x.InitialRisk%}
                      {% with riskcolour=x.RiskColour%}
                      {%include "userT/incinitialriskcolour.html"%}
                      {%endwith%}
                      {%endwith%}
                      {%else%}
                      <td>{{ x.InitialRisk }}</td>
                      <!--Original Code-->
                      {%endif%}


                      {%endblock%}

                      <td>{{ x.Response }}</td>
                      {%endfor%}

                      {%endfor%}
                  </tbody>
                </table>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<br>

{%endblock%}