{% extends "userT/base3.html"%}
{%load crispy_forms_tags %}

{%block Actionee%}

    <br>
    <h1> <a href="/ActioneeList">First Actionee Stream Count --{{obj_Actionee1st.count}}</h1></a><br>
    <h1>Second Actionee Stream Count -- {{obj_Actionee2nd.count}}</h1><br>
    
   <!-- {{user.organisation}}<br>
    {{user.disipline}}<br>
    {{user.subdisipline}}-->


<ul>
    <!--{% for Items  in obj_Actionee1st %}
    <a href=''>{{ Items.StudyActionNo  }}</a>
   <li>--  {{ Items.StudyActionNo }}--{{ Items.Recomendations }}--{{ Items.Disipline }}--{{ Items.organisation }}--{{forloop.counter}}</li>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}-->

</ul>
{%endblock%}
{%block Approver%}
<h1>First Approver Stream Count -- {{obj_Approver11.count}}</h1><br>
    <h1>Second Approver Stream Count --{{obj_Approver12.count}}</h1><br>
{%endblock%}