{% extends "userT\base3.html"%}
{% block Actioneelist%}
<!doctype html>
<html lang="en">
  

<body>
      <div class="row" >
        <table class="table table-striped table-hover"> <!--set to maximum 20 rows per page-->
          <thead class="thead-dark">
            <tr>
              <th>
                StudyActionNo
              </th>
              <th>
                StudyName
              </th>
              <th>
                Disipline
              </th>
              <th>
                Subdisipline
              </th>
              <th>
                Cause
              </th>
              <th>
                Consequence
              </th>
              <th>
                Recomendations
              </th>
              <th>
                InitialRisk
              </th>
              <th>
                Response
              </th>
              
             </tr>
          </thead>
          <tbody>
            {% for routes  in object_list %}
              {% for x  in routes %}
            <tr>
              <td>{{ x.StudyActionNo }}</td>
              <td>{{ x.StudyName }}<</td>
              <td>{{ x.Disipline }}<</td>
              <td>{{ x.Subdisipline }}<</td>
              <td>{{ x.Cause }}<</td>
              <td>{{ x.Consequence }}<</td>
              <td>{{ x.Recomendations }}<</td>
              <td>{{ x.InitialRisk }}<</td>
              <td>{{ x.Response }}<</td>
              {%endfor%}
            {%endfor%}
            
          
{%endblock%}
