{% extends "userT\base3.html"%}
{%load crispy_forms_tags %}

{% block Actioneelist%}
<h1>Action Items</h1>
<div class="container-fluid">
    <div style="width:50% ; float:left"> 
        <canvas id="Actionee"></canvas>
            <script>

                var myChart = document.getElementById('Actionee').getContext('2d');
                
                var charts = new Chart(myChart, {
                    type: 'polarArea',
                    data : {

                        labels : {{labelsActionee|safe}},

                        datasets : [{
                            
                            
                            data : {{dataActionee|safe}},

                            borderWidth: 3,
                            borderColor: '#777',
                        }]
                        
                    },
                    
                    options: {}
                });
            
                
            </script>
    </div>
    <div style="width:50% ; float:left"> 
        <canvas id="Approver"></canvas>
            <script>

                var myChart = document.getElementById('Approver').getContext('2d');
                
                var charts = new Chart(myChart, {
                    type: 'polarArea',
                    data : {

                        labels : {{labelsApprover|safe}},

                        datasets : [{
                            
                            
                            data : {{dataApprover|safe}},

                            borderWidth: 3,
                            borderColor: '#777',
                        }]
                        
                    },
                    
                    options: {}
                });
            
                
            </script>
    </div>
</div>

{%endblock%}


