{% extends "userT\base3.html"%}

{%load crispy_forms_tags %}
{% crispy form form.helper%}
{% block ApproverDetails%}


<!--breadcrumbs-->
<div class=''>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/main">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/ActioneeList">Actionee List</a>
        </li>
        <li class="breadcrumb-item active">
            <a aria-current="page">{{object.StudyActionNo}}</a>
        </li>
      </ol>
    </nav>

<!--breadcrumbs - needs to be automated.-->

<fieldset class="form-group" >
    <form method="POST" enctype = 'multipart/form-data' class="dropzone">  
        {% csrf_token %}  
        {%crispy form%}
     
    </form> 
</fieldset>

</div>
{%endblock%}
