{% extends "userT/base3.html"%}
{% block Actioneelist%}
<!doctype html>
<html lang="en">


<body>
<!--breadcrumbs-->
  
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item normal">
          <a href="/main">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <a aria-current="page">Actionee List</a>
        </li>

      </ol>
      
    </nav>




	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					Actionee List
				</h5>
				<div class="card-body">
					<p class="card-text" style="font-size:60px">
            <table id="example" class="table table-striped table-hover" style="width:100%">
              <thead class="thead-dark">
                    <tr class="filters">
                      <th width="3%">
                        Study Action No
                      </th>
                      <th width="3%">
                        Study Name
                      </th>
                      <th width="3%">
                        Discipline
                      </th>
                      
                      <th width="20%">
                        Cause
                      </th>
                      <th width="20%">
                        Consequence
                      </th>
                      <th width="25%">
                        Recommendations
                      </th>
                      <th width="10%">
                        Due Date
                      </th>
                      
                      <th width="8%">
                        Intial Risk
                      </th>
                      <th width="8%">
                        Residual Risk
                      </th>
                  </tr>
              </thead>
              <tbody>
                {% for routes  in object_list %}
                  {% for x  in routes %}
                <tr>
                  <td><a class="article-title" href="{% url  'ActioneeFormMixin' x.id %}">{{ x.StudyActionNo }}</a></td>
                  <td>{{ x.StudyName }}</td>
                  <td>{{ x.Disipline }}</td>
                  
                  <td>{{ x.Cause }}</td>
                  <td>{{ x.Consequence }}</td>
                  <td><a class="article-title" href="{% url  'ActioneeFormMixin' x.id %}">{{ x.Recommendations }}</a></td>
                  <td>{{ x.DueDate }}</td>
                  
                  <td>{{ x.InitialRisk }}</td>
                  <td>{{ x.ResidualRisk }}</td>
                  {%endfor%}
                {%endfor%}
                </tbody>
            
            </table>
					</p>
				</div>
			</div>
		</div>
	</div>




<!--
<div>

  <table id="example" class="table table-striped table-hover" style="width:100%">
    <thead class="thead-dark">
          <tr class="filters">
            <th width="3%">
              StudyActionNo
            </th>
            <th width="3%">
              StudyName
            </th>
            <th width="3%">
              Discipline
            </th>
            
            <th width="20%">
              Cause
            </th>
            <th width="20%">
              Consequence
            </th>
            <th width="20%">
              Recommendations
            </th>
            <th>
              Due Date
            </th>
            
            <th width="20%">
              Response
            </th>
        </tr>
    </thead>
    <tbody>
      {% for routes  in object_list %}
        {% for x  in routes %}
      <tr>
        <td><a class="article-title" href="{% url  'ActioneeFormMixin' x.id %}">{{ x.StudyActionNo }}</a></td>
        <td>{{ x.StudyName }}</td>
        <td>{{ x.Disipline }}</td>
        
        <td>{{ x.Cause }}</td>
        <td>{{ x.Consequence }}</td>
        <td><a class="article-title" href="{% url  'ActioneeFormMixin' x.id %}">{{ x.Recommendations }}</a></td>
        <td>{{ x.DueDate }}</td>
        
        <td>{{ x.Response }}</td>
        {%endfor%}
      {%endfor%}
      </tbody>
  
  </table>
</div>-->

  <!--Original-->
  <!--

    
<div class="card" style="border-color: black;">

      <table  class="table table-striped table-hover display" id="myTable"> 
      
        <thead class="thead-dark ">
            <tr class="filters">
              <th onclick="sortTable(0)">
                StudyActionNo
              </th>
              
              <th>
                StudyName
              </th>
              <th>
                Disipline
              </th>
              <th>
                Subdisipline
              </th>
              <th>
                Cause
              </th>
              <th>
                Consequence
              </th>
              <th>
                Recommendations
              </th>
              <th>
                InitialRisk
              </th>
              <th>
                Response
              </th>
              
             </tr>
          </thead>
          <tbody>
            {% for routes  in object_list %}
              {% for x  in routes %}
            <tr>
              <td><a class="article-title" href="{% url  'ActioneeFormMixin' x.id %}">{{ x.StudyActionNo }}</a></td>
              <td>{{ x.StudyName }}</td>
              <td>{{ x.Disipline }}</td>
              <td>{{ x.Subdisipline }}</td>
              <td>{{ x.Cause }}</td>
              <td>{{ x.Consequence }}</td>
              <td><a class="article-title" href="{% url  'ActioneeFormMixin' x.id %}">{{ x.Recommendations }}</a></td>
              <td>{{ x.InitialRisk }}</td>
              <td>{{ x.Response }}</td>
              {%endfor%}
            {%endfor%}
            </tbody>
            </table>

 </div>
          -->

          
           
         
</body>     

{%endblock%}
