{% extends "userT/base3.html"%}
{%load crispy_forms_tags %}
{% crispy form form.helper%}
{% block ToolTip %}
<!-- edward & hs added on 19/6/21 -->
{% block RejectReason %}



{%include "userT/increjectcomments.html"%}


{%endblock%}

    <div class="postitnote sticky "  style="font-size:small; font-family:Lato; margin-right:5px;margin-left:0px; margin-top:10px; width:150pt "> <!-- to be discussed with guna -->
        <div class="col-md-1;margin-right:5px;margin-left:5px">
           <table class="sticky table table-hover" > <!--set to maximum 20 rows per page-->
            <thead class="thead">
              <tr>
                <th>
                  e-Signatures
                </th>
              
              </tr>
              
          </thead>
          <tbody>
            
            <tr>
            <td>Upon clicking the approve & sign button, it is accepted that you have approved and signed acceptance of the proposed resolution</td>
          
            </tr>
            
            </tbody>
        </table>
        
      </div>
      <br>
      <br>
    </div>
</div>
    {%endblock%}

{% block RejectionComments %}
<div class=''>
  <nav>
    <!-- 20210828 edward UI -->
    <ol class="breadcrumb" style="background-color: #ffffff; position:relative;  right: -25px; bottom: -25px;">
      <li class="breadcrumb-item">
        <a style="color:rgb(255, 255, 255)" href="/main">Dashboard</a>
      </li>
      {% if block.is_ApproverDetails %}
      <!--doesnt work...-->
      <li class="breadcrumb-item-active">
        <a href="/ApproverList">Actions</a>
        <!--add if to differentiate actionee and approver-->
      </li>
      {% else %}
      <li class="breadcrumb-item-active">
        <a href="/ActioneeList">Actions</a>
        <!--add if to differentiate actionee and approver-->
      </li>
      {% endif %}

      <li class="breadcrumb-item-active">
        <a aria-current="page">{{object.StudyActionNo}}</a>
      </li>
      <li>
        <!-- This supposed to be empty to maintain the parent - child RS in css -->
      </li>
    </ol>
  </nav>
<body>

    
        <form method="POST" enctype = 'multipart/form-data' style="margin-left:35pt; margin-top:50px;" >  
            <fieldset class="form-group" >
            {% csrf_token %}  
            {%crispy form%}
            <div class="float-right col-md-3 ">
              <div>
                <label for="signature" class=" requiredField">
                Type Your Signature (will use your email if not signed) <span class="asteriskField">*</span> </label>
                <textarea class="textarea form-control" style="font-family: Great Vibes;font-size: 50px"  name="signature" >{{signature}}</textarea>
              </div>
            <div>
            <div class="form-group"><input type="submit" name="ApproveConfirm" value="Approve & Sign." class="btn btn-outline-primary btn-md float-right " style="width:125pt;"  id="submit-id-approve" onclick="var e=this;setTimeout(function(){e.disabled=true;},0);return true;"/></div> 
            <div class="form-group"><input type="submit" name="Cancel" value="Cancel" class="btn btn-outline-primary btn-md float-right" style="width:100pt;"  id="submit-id-reject"/></div>
        </div>
        </fieldset>
        </form> 
   
<br>
{%endblock%}
