{% load static %}
<!doctype html >
<html lang="en" >
  <head >
    
    {%include "userT/inclscriptslinkbase3.html"%}
    
<title>Your Dashboard</title>
</head>
  
<body>
<!-- div encompasses whole page -->
<div>

<!--Top Nav Bar-->

    {%include "userT/incltopnavbar.html"%}


<br>
<div class="wrapper">
    <div class="section">
   <div class="hamburger">
     <a href="#">
       <i class="fas fa-bars" style="position: absolute; left: 40px; top:95px; font-size: 30px; color:black;"> Menu</i>
     </a>
   </div>
 
 <script>
    var hamburger = document.querySelector(".hamburger");
	hamburger.addEventListener("click", function(){
		document.querySelector("body").classList.toggle("active");
	})

  </script>

  <!--sidebar left-->
<div class="row" >
    <div class="sidebar" style="margin-left:-225px" >
                {%include "userT/inclsidebar.html"%}
                <div class="sidebar-sticky col-md-2" style="background-color:rgb(255, 255, 255); border-right:rgb(255, 255, 255) solid 1px;">  
                    {%block ToolTip%}
                    {%endblock%}
                  
                    {%block RejectReason%}
                    {%endblock%}
                  </div> 
    </div>  
  
    
    
<!-- main content -->

<main role="main" class="col-lg" style="position: absolute; width:auto;" > 

        {%block Actionee%}

        {%endblock%}
        
        
        {%block ApproverList%}

        {%endblock%}
        {%block reppmt%}

        {%endblock%}
        {%block Actioneelist%}

        {%endblock%}
        {%block maindashboard%}

        {%endblock%}
        {%block ActioneeDetails%}

        {%endblock%}

        {%block ApproverDetails%}

        {%endblock%}

        {%block FileUpload%}

        {%endblock%}
        
        {%block RejectionComments%}

        {% endblock %}

        {%block incInitialRiskColour%}

        {%endblock%}

        {%block Signatories%}

        {%endblock%}

        

        {%block Buttons%}

        {%endblock%}
        {%block ClosedOut%}

        {% endblock %}
</main>
</div>
</div>
</div>
</body>
</html>