{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    {%include "userT/inclscriptslinkbase3.html"%}

<title>Your Dashboard</title>
</head>
  
  

<body>
<!--Top Nav Bar-->
<nav class="navbar navbar-expand-lg" style="background-color: rgb(248,248,248); border-bottom:darkgrey solid 1px">
<div class="container-fluid">
  
  <div class="navbar-nav md-3">      
    <li class="nav-item">
      <h3> <a class="nav-link active" aria-current="page"style="color:black"> <img src="{% static 'sapura.png' %}" alt="client" width="5%" height="30%"> Sapura Energy</a> </h3>
  </div>

       <div class="nav navbar-nav md-3">
        <h3><li><a class="nav-link active" aria-current="page"  style=" color:black; font-family:pacifico" >ePcIC Tracker </a></li> </h3>
      </div><!--consider to have linkedin or facebook link-->

</div>    
</nav>



<!--sidebar left-->

  
<div class="row">
    <div class="sidebar-sticky col-md-2" style="background-image: linear-gradient(to right, #f8f8f8, #fafafa, #fbfcfb, #fdfdfd, #ffffff); border-right:darkgrey solid 1px"> <!--hold not yet able to solve the side bar 100% height need to set in css-->
      
        <!--<ul class="nav flex-column"></ul>--commented out by GV-->
    
  
      <div id="card-738960" style="margin-right:5px;margin-left:20px"  >
      <br>
      
         <div class="card" style="background-color: rgb(52,58,64);">
        <h4> 
            <div class="card-header" >
                <a class="card-link" data-toggle="collapse" data-parent="#card-738960" href="#card-element-1" style="color:white;font-size:1vw;">Your Actions</a>
            </div>
        </h4>
        <h5>
              <div id="card-element-1" class="collapse" >
                <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" >
                    <a href="/main" style ="color: black;">
                     Dashboard                
                    </a>
                  </div>
                  <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/ActioneeList" style ="color: Black;">
                  Actionee Actions</a>
                 </div>
                 <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/ApproverList" style ="color: black;">
                  Approver Actions
                 </a></div>
                 <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/HistoryList" style ="color: black;">
                  History
                 </a></div>
              </div>
        </h5>
        </div>
            
        <div class="card" style="background-color: rgb(52,58,64);">
          <h4>  
          <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" data-parent="#card-738960" href="#card-element-2" style="color:white;font-size:1vw;">Reporting</a>
            </div>
          </h4>
          <h5>
                <div id="card-element-2" class="collapse">
                   <!-- <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/actionstatus" style ="color: black;">
                    Open/Closed Actions
                    </a>  </div>
                <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/discslice" style ="color: black;">
                    Disciplines Breakdown
                    </a>  </div>-->
                 <!--<div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/IndividualBreakdownByUsers" style ="color: black;">
                      Individual Breakdown 
                    </a>  </div>
                   <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/IndividualBreakdownByUsers" style ="color: black;">
                      Individual Breakdown - By Users
                    </a>  </div>
                    <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/IndividualBreakdownByUsers" style ="color: black;">
                      My Actions History
                    </a>  </div>
                    <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/IndividualBreakdownByActions" style ="color: black;">
                      View All Actions 
                    </a>  </div>-->
                  <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/reppmt" style ="color: black;">
                    PMT Reporting
                    </a> </div>
                  <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/closeoutsheet" style ="color: black;">
                    Close-Out Sheets
                   </a> </div>
                    
                     <!--Disabled for initial Deployment--><!--
                    <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/ReportingTable" style ="color: black;">
                      Reporting Table
                      </a> </div>-->
                
            </div>
          </h5>
        </div>

            
        <div class="card" style="background-color: rgb(52,58,64);">
          <h4>    
          <div class="card-header">
                 <a class="card-link" data-toggle="collapse" data-parent="#card-738960" href="#card-element-4" style="color:white;font-size:1vw;">Contact</a>
                  </div>
          </h4>
          <h5>        
                  <div id="card-element-4" class="collapse">
                    <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/ContactUs" style ="color: black;">
                    Contact Us
                    </a>  
                    </div>
                  </div>
           </h5> 
        </div>

            <div class="card" style="background-color: rgb(52,58,64);">
              <h4>
              <div class="card-header">
                 <a class="card-link" data-toggle="collapse" data-parent="#card-738960" href="#card-element-5" style="color:white;font-size:1vw;">Profile Management</a>
              </div>
              </h4>
              <h5>
                  <div id="card-element-5" class="collapse">
                    <!--Disabled for initial Deployment--><!--
                    <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/Profile" style ="color: black;">
                    Profile
                    </a>  </div>
                    -->
                    <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="{% url 'password_change' %}" style ="color: black;">
                      Change Password
                    </a>  </div>

                    <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="{% url 'password_reset' %}" style ="color: black;">
                      Reset Password
                    </a>  </div> 
                
              </div>
            </h5>
            </div>

<!--If user is admin, then he can have extra buttons to manage the users etc.-->            
  {% if request.user.is_admin %}
  <div class="card" style="background-color: rgb(52,58,64)">
    <h4>
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" data-parent="#card-738960" href="#card-element-3" style="color:white;font-size:1vw;"> Admin</a>
      </div>
    </h4> 
    <h5> 
    <div id="card-element-3" class="collapse">
    <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/upload" style ="color: black;">
     Upload File
    </a>  </div>
    <!--Disabled for Initial Deployment--><!--
    <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="#" style ="color: black;">
      UserManagement
    </a>  </div>-->
    <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/addonupload" style ="color: black;">
      Update Field
    </a>  </div>
    <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/loadriskmatrix" style ="color: black;">
      Upload Risk Matrix
    </a>  </div>
    <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/delegatedadmin" style ="color: black;">
      Delegated Admin
    </a>  </div>
    <div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/emailreminders" style ="color: black;">
      Send Email Reminder
    </a>  </div>
    <!--<div class="card-body" style="text-indent: 10px; background-color:rgb(218, 218, 218)" ><a href="/GeneratePDF" style ="color: black;">
      Generate Close-Out Report
    </a>  </div>-->
    </div>
    </h5>
  </div>
          
  {% else %}
<!--if not admin then not going to show anything-->
          
  {% endif %}
</div>
  


  {%block ToolTip%}

  {%endblock%}
       
    
  {%block RejectReason%}
    
  {%endblock%}
      </div>
    
    <main role="main" class="col-lg-10 pt-3 px-4" >

      <!--Username and Logout button including bottom border-->
      <h5>
      <div  class="pb-2 mb-3 border-bottom text-right" >
        <div style="font-size:large"> 
          <i class="bi bi-person-bounding-box"></i>{{user.email}} <!--hold, make this clickable and link to user profile.-->
           <a href="/logout">
          <button type="button" class="btn btn-secondary btn-sm;"><i class="material-icons">logout</i>Logout</button> 
        </a>
         </div>    
     </div>
    </h5>  
    
              {%block Actionee%}


              {%endblock%}
              
               
              {%block ApproverList%}


              {%endblock%}
              {%block reppmt%}


              {%endblock%}
              {%block Actioneelist%}


              {%endblock%}
              {%block maindashboard%}


              {%endblock%}
              {%block ActioneeDetails%}


              {%endblock%}

              {%block ApproverDetails%}


              {%endblock%}

              {%block FileUpload%}


              {%endblock%}
              
              {%block RejectionComments%}

              {% endblock %}

              {%block incInitialRiskColour%}

              {%endblock%}

              {%block Signatories%}

              {%endblock%}

              

              {%block Buttons%}

              {%endblock%}
              {%block ClosedOut%}

              {% endblock %}
</div>

</body>