{% extends "userT/base1.html" %}
{% block content %}


<fieldset class="form-group">
    <div id="Contact" style="margin-top:100px;" class="mainbox col-md-6 col-md-offset-3 ;">           
            <div class="panel panel-info" >
            <div class="panel-heading" >
                <div class="panel-title" >Contact Us</div>
            
            </div>     

            <div style="padding-top:10px" class="panel-body" >
                                                                    
                   
                                                         
                                  
                      <div >
                       <h1>eHSTools</h1> 
                       <h2>elecronic Health and Safety Tools</h2><br>
                       <h3>Kuala Lumpur Office</h3>
                       <i class="bi bi-map"></i> 
                       <p>B-3A-1&2 Megan Avenue 1, 189 Jalan Tun Razak, 50400 Kuala Lumpur</p>
                       <i class="bi bi-telephone"></i>  <p>+603-21661699</p>
                       <i class="bi bi-mailbox"></i> <p>sales@prism-ta.com</p>
                      </div>

                </div>  
                </div>
            </div>
</fieldset>
  


{% endblock %}