{% extends "userT/base1.html" %}
{% block content %}


<fieldset class="form-group">
    <div id="Contact" style="margin-top:100px;" class="mainbox col-md-6 col-md-offset-3 col-md-6 col-md-offset-3;">           
            <div class="panel panel-info" >
            <div class="panel-heading" >
                <div class="panel-title" >Contact Us</div>
            
            </div>     

            <div style="padding-top:30px" class="panel-body" >
                                                                    
                   
                      <br>
                      <br>
                                     
                                  
                      <div >
                       <h1>Kuala Lumpur Office</h1>
                       <p> <i class="fa fa-address-card fa-5x" aria-hidden="true" ></i>B-3A-1&2 Megan Avenue 1, 189 <br>
                        Jalan Tun Razak, 50400 Kuala Lumpur<br>
                     </p>
                   
                       <p>+603-21661699</p>
                       <p>sales@prism-ta.com</p>
                    </div>

                </div>  
                </div>
            </div>
</fieldset>
  


{% endblock %}