{% extends "userT/base3.html"%}
{%block Actionee%}
<nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item normal">
          <a href="/main">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <a aria-current="page">Contact Us</a>
        </li>
      </ol>
</nav>
<br>    
<br>	
			<div class="row"  style="width:1000px; margin:0 auto;">
				<div class="col-md-8">
					<div class="card">
						<h5 class="card-header">
							Contact Us
						</h5>
						<div class="card-body">
							<p class="card-text">
								<h1>eHS Tools</h1> 
                       <h2>elecronic Health and Safety Tools</h2><br>
                       <h3>Kuala Lumpur Office</h3>
                       <i class="bi bi-map"></i> 
                       <p>B-3A-1&2 Megan Avenue 1, 189 Jalan Tun Razak, 50400 Kuala Lumpur</p>
                       <i class="bi bi-telephone"></i>  <p>+603-21661699</p>
                       <i class="bi bi-mailbox"></i> <p>sales@prism-ta.com</p>
                      </div>
							</p>
						</div>
					</div>				
			</div>				
						

<br>
 
{%endblock%}
