<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Datatables</title>
    {%include "userT/inclscriptslinkbase3.html"%}
</head>

<body>
    <h2>Datatables</h2>

    <a href="http://127.0.0.1:8000/reppmt/">Reporting</a>
    <br>
    <br>
    <button onclick="alert(this.id)" id="thebutton" class="show">click me</button>
    <br>
    <br>
    <table id="actionitems1" class="table table-bordered table-striped table-hover display">
        <thead class="thead-dark">
            <tr>

                <th>Study Action No</th>
                <th>Status</th>
                <th>Current Level</th>
                <th>Person Responsible</th>
            </tr>

        </thead>
        <tbody>
            <tr>

                <td>CRV 001</td>
                <td>Open</td>
                <td>Actionee</td>
                <td>actionee@demo.com</td>
            </tr>
            <tr>

                <td>CRV 002</td>
                <td>Closed</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>

                <td>CRV 003</td>
                <td>Open</td>
                <td>Approver 1</td>
                <td>approver@demo.com</td>
            </tr>
            <tr>

                <td>CRV 004</td>
                <td>Open</td>
                <td>Approver 1</td>
                <td>approver@demo.com</td>
            </tr>
            <tr>

                <td>CRV 005</td>
                <td>Open</td>
                <td>Approver 1</td>
                <td>approver@demo.com</td>
            </tr>
            <tr>

                <td>CRV 006</td>
                <td>Open</td>
                <td>Approver 1</td>
                <td>approver@demo.com</td>
            </tr>
            <tr>

                <td>CRV 007</td>
                <td>Open</td>
                <td>Approver 1</td>
                <td>approver@demo.com</td>
            </tr>
            <tr>

                <td>CRV 008</td>
                <td>Open</td>
                <td>Approver 1</td>
                <td>approver@demo.com</td>
            </tr>
        </tbody>
    </table>

    <br>

    <table id="actionitems2" class="table table-bordered table-striped table-hover display">
        <thead class="thead-dark">
            <tr>

                <th>Study Action No</th>
                <th>Status</th>
                <th>Current Level</th>
                <th>Person Responsible</th>
            </tr>

        </thead>
        <tbody>
            <tr>

                <td>CRV 001</td>
                <td>Open</td>
                <td>Actionee</td>
                <td>actionee@demo.com</td>
            </tr>
            <tr>

                <td>CRV 002</td>
                <td>Closed</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>

                <td>CRV 003</td>
                <td>Open</td>
                <td>Approver 1</td>
                <td>approver@demo.com</td>
            </tr>
            <tr>

                <td>CRV 004</td>
                <td>Open</td>
                <td>Approver 1</td>
                <td>approver@demo.com</td>
            </tr>
            <tr>

                <td>CRV 005</td>
                <td>Open</td>
                <td>Approver 1</td>
                <td>approver@demo.com</td>
            </tr>
            <tr>

                <td>CRV 006</td>
                <td>Open</td>
                <td>Approver 1</td>
                <td>approver@demo.com</td>
            </tr>
            <tr>

                <td>CRV 007</td>
                <td>Open</td>
                <td>Approver 1</td>
                <td>approver@demo.com</td>
            </tr>
            <tr>

                <td>CRV 008</td>
                <td>Open</td>
                <td>Approver 1</td>
                <td>approver@demo.com</td>
            </tr>
        </tbody>
    </table>
</body>


</html>