{% extends "userT/base3.html"%}
{%load crispy_forms_tags %}
{% crispy form form.helper%}
{%block Actionee%}
<nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item normal">
          <a href="/main">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <a aria-current="page">Email Reminder and Settings</a>
        </li>
      </ol>
</nav>
<br>    

<!--Email Reminder-->
		<div class="col-md-12"> 
      <h4>Generate Email Reminder</h4>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">
							Pending Responses & Approvals
						</h5>
						<div class="card-body">
							<p class="card-text">
                <form action="/emailreminders/" method="POST">
                {% csrf_token %}
              <input type="submit" name="SendPending" class="btn btn-outline-secondary " value="Send For Pending Actions" style = "float: left;" >
            </form>
            <form action="/emailreminders/" method="POST">
              {% csrf_token %}
            <input type="submit" name="SendOverdue" class="btn btn-outline-secondary " value="Send For Overdue Actions" style = "margin-left :20px;" >
          </form>
				<div class="col-md-4">
		</div>
<br>
{%endblock%}

