{% extends "userT/base3.html"%}
<!doctype html>
<html lang="en">
{%block maindashboard%}
<H1>Googlecharts</H1>


<html>
  <head>
    
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(starter); //cant call drawchart with paarmeters, need the parameters to make the code effcient
    
        function starter(){
            
            
                drawChart({{content|safe}} );
                //drawChart2LineChart({{content|safe}} , '{{content.0}}');
            
        }

        function drawChart(values) {
        
        var chartdata = [];
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Actual');
        data.addColumn('number', 'Planned');
        
        var arrplot =[]
        for(var i = 0; i < values.length; i++){
          //for(var j = 0; j < values[i].length; j++){
              
                first = (values[0][0]);
                seconddate=(values[1][0]);
                datess= (values[i][0]);
                actual = (values[i][1]);
                planned =(values[i][2]);
                
                stringdatas = '[new Date(\'' + datess + '\'),'+ actual + ','+ planned + ']';
                
                arrplot.push(stringdatas)
              
          //}
      }
        //stringdata = '[new Date(\'' + first + '\'),200,210]';
        var datarows = [];
        for (var k =0;k<arrplot.length;k++)
        
        {
        
        data.addRow(eval(arrplot[k]));
        
        
      }
        ;
  
        var options = {
          chart: {
            title: 'Run-Down Curve',
            subtitle: 'Action Items',
            
          },
          colors: ['black', 'blue'],
         hAxis:{ format: 'MMM d,y'},
         curveType: 'function',
        legend: {position: 'top', textStyle: {color: 'red', fontSize: 16}},
          width: 900,
          height: 500
        };
  
        var chart = new google.charts.Line(document.getElementById('linechart'));
        //chart.draw(data,options);
        
        chart.draw(data, google.charts.Line.convertOptions(options));
      }
       

        
      
    </script>
  </head>
  <body>
    <div id="linechart" style="width: 900px; height: 500px;"></div>
    <div id="piechart2" style="width: 900px; height: 500px;"></div>
    <div id="piechart3" style="width: 900px; height: 500px;"></div>
    <div id="piechart4" style="width: 900px; height: 500px;"></div>
  </body>
</html>
{%endblock%}