{% extends "userT/base3.html"%}
{%block title%}History List{%endblock%}
{% block Actioneelist%}
<!doctype html>
<html lang="en">


<body onload="openReport(event, 'actioneeactions')">
  <!--breadcrumbs-->
  <nav>
    <!-- 20210828 edward UI bg color -->
    <ol class="breadcrumb" style="background-color: #ffffff;position:relative;  right:-40px; bottom: -25px;">
      <li class="breadcrumb-item normal">
        <a href="/main">Dashboard</a>
      </li>
      <li class="breadcrumb-item-active">
        <a aria-current="page">History List</a>
      </li>
      <li>
        <!-- This supposed to be empty to maintain the parent - child RS in css -->
      </li>
    </ol>
  </nav>

  <br>
  <div class="col-md-12 center" style="left:20pt">
    <div class="card" style="width: auto; ">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="width: auto; overflow:scroll;">
            <!-- 20210828 edward UI bg color -->
            <h4 class="card-header parent-font">
              History List
            </h4>
            <!-- 20210828 edward UI bg color -->
            <div class="tabset tab-child child-one-font">

              <button class="tablinks" onclick="openReport(event, 'actioneeactions')">Actionee Actions</button>
              <button class="tablinks" onclick="openReport(event, 'approveractions')">Approver Actions</button>
              <button class="tablinks" onclick="openReport(event, 'rejectedactions')">Rejected Actions</button>

            </div>

            <div id="actioneeactions" class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px">
              <p class="card-text">
                <table id="table1" class="table table-striped table-hover fixedtable" style="width:100%">
                  {%include "userT/inclactioneeapprtableheader.html"%}
                  <th>Revision</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for routes  in object_list %}
                    {% for x  in routes %}
                    <tr>
                      <td><a class="article-title"
                          href="{% url  'HistoryFormMixin' x.id True%}">{{ x.StudyActionNo }}</a></td>
                      <td>{{ x.StudyName__StudyName }}</td>
                      <td>{{ x.Organisation }} / {{ x.Disipline }} / {{ x.Subdisipline }}</td>
                      <td>{{ x.Cause }}</td>
                      <td><a class="article-title"
                          href="{% url  'HistoryFormMixin' x.id True%}">{{ x.Recommendations }}</a></td>
                      <td>{{ x.DueDate }}</td>



                      {%if riskmatrix%}
                      {% with initialrisk=x.InitialRisk%}
                      {% with riskcolour=x.RiskColour%}
                      {%include "userT/incinitialriskcolour.html"%}
                      {%endwith%}
                      {%endwith%}
                      {%else%}
                      <td>{{ x.InitialRisk }}</td>
                      <!--Original Code-->
                      {%endif%}


                      <td>{{ x.Revision }}</td>
                      {%endfor%}
                      {%endfor%}
                  </tbody>

                </table>
              </p>
            </div>

            <div id="approveractions" class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px">

              <p class="card-text">
                <table id="table2" class="table table-striped table-hover fixedtable" style="width:100%">
                  {%include "userT/inclactioneeapprtableheader.html"%}
                  <th>Revision</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for items  in approveractions %}
                    {% for x  in items %}
                    <tr>
                      <td><a class="article-title"
                          href="{% url  'HistoryFormMixin' x.id False%}">{{ x.StudyActionNo }}</a></td>
                      <td>{{ x.StudyName__StudyName }}</td>
                      <td>{{ x.Organisation }} / {{ x.Disipline }} / {{ x.Subdisipline }}</td>
                      <td>{{ x.Cause }}</td>
                      <td><a class="article-title"
                          href="{% url  'HistoryFormMixin' x.id False%}">{{ x.Recommendations }}</a></td>
                      <td>{{ x.DueDate }}</td>
                      {%if riskmatrix%}
                      {% with initialrisk=x.InitialRisk%}
                      {% with riskcolour=x.RiskColour%}
                      {%include "userT/incinitialriskcolour.html"%}
                      {%endwith%}
                      {%endwith%}
                      {%else%}
                      <td>{{ x.InitialRisk }}</td>
                      <!--Original Code-->
                      {%endif%}
                      <td>{{ x.Revision }}</td>
                      {%endfor%}
                      {%endfor%}
                  </tbody>

                </table>
              </p>

            </div>

            <!-- rejection div tab-->
            <div id="rejectedactions" class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px">

              <p class="card-text">
                <table id="table3" class="table table-striped table-hover fixedtable" style="width:100%">
                  {%include "userT/inclactioneeapprtableheader.html"%}
                  <th>Revision</th>
                  <th>Rejection Date</th>
                  
                  </thead>
                  <tbody>
                    {%for key, value in rejectedhistory.iterrows %}
                      <tr>
                        <td><a class="article-title"
                            href="{% url  'HistoryFormMixin' value.id False%}">{{ value.StudyActionNo }}</a></td>
                        <td>{{ value.StudyName__StudyName }}</td>
                        <td>{{ value.Organisation }} /{{ value.Disipline }} / {{ value.Subdisipline }}</td>
                        <td>{{ value.Cause }}</td>
                        <td><a class="article-title"
                            href="{% url  'HistoryFormMixin' value.id False%}">{{ value.Recommendations }}</a></td>
                        <td>{{ value.DueDate }}</td>
                        {%if riskmatrix%}
                        {% with initialrisk=value.InitialRisk%}
                        {% with riskcolour=value.RiskColour%}
                        {%include "userT/incinitialriskcolour.html"%}
                        {%endwith%}
                        {%endwith%}
                        {%else%}
                        <td>{{ value.InitialRisk }}</td>

                        {%endif%}
                        <td>{{ value.Revision }}</td>
                        <td>{{ value.DateAdded }}</td> 
                      </tr>
                    {%endfor%}
                    <!-- {% for items  in rejectedhistory %}
                    {% for x  in items %}
                    <tr>
                      <td><a class="article-title"
                          href="% url  'HistoryFormMixin' x.id False%">{{ x.StudyActionNo }}</a></td>
                      <td>{{ x.StudyName__StudyName }}</td>
                      <td>{{ x.Organisation }} /{{ x.Disipline }} / {{ x.Subdisipline }}</td>
                      <td>{{ x.Cause }}</td>
                      <td><a class="article-title"
                          href="% url  'HistoryFormMixin' x.id False%">{{ x.Recommendations }}</a></td>
                      <td>{{ x.DueDate }}</td>
                      {%if riskmatrix%}
                      {% with initialrisk=x.InitialRisk%}
                      {% with riskcolour=x.RiskColour%}
                      {%include "userT/incinitialriskcolour.html"%}
                      {%endwith%}
                      {%endwith%}
                      {%else%}
                      <td>{{ x.InitialRisk }}</td> -->
                      <!--Original Code-->  
                      <!-- {%endif%}
                      
                      <td>{{ x.Revision }}</td>
                      {%endfor%}
                      {%endfor%} -->
                  </tbody>

                </table>
              </p>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>





</body>

{%endblock%}