{% extends "userT/base3.html"%}
{% block Actioneelist%}
<!doctype html>
<html lang="en">


<body onload="openReport(event, 'actioneeactions')" >
<!--breadcrumbs-->
<h4><b>
    <nav>
      <!-- 20210828 edward UI bg color -->
      <ol class="breadcrumb" style="background-color: #ffffff;position:relative;  right:-40px; bottom: -25px;">
        <li class="breadcrumb-item normal">
          <a href="/main">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <a aria-current="page">History List</a>
        </li>
        <li>
          <!-- This supposed to be empty to maintain the parent - child RS in css -->
        </li>
      </ol>
    </nav>
  </b></h4>
  <br>
<div class="col-md-12 center" style="left:20pt">
  <div class="card" style="width: auto; " > 
  <h6>
    <div class="row">
      <div class="col-md-12" >
        <div class="card" style="width: auto; overflow:scroll;"  >
          <!-- 20210828 edward UI bg color -->
          <h4 class="card-header" style="background-color: #ffffff; font-size:xx-large;">
            History List
          </h4>
                <!-- 20210828 edward UI bg color -->
                <div class="tab h5" style="background-color: rgb(252, 248, 248);">
                  
                    <button class="tablinks" onclick="openReport(event, 'actioneeactions')">Actionee Actions</button>
                    <button class="tablinks" onclick="openReport(event, 'approveractions')" >Approver Actions</button>
                    <button class="tablinks" onclick="openReport(event, 'rejectedactions')">Rejected Actions</button>
                
                </div>

          <div id="actioneeactions" class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px" >
            <p class="card-text">
              <table id="table1" class="table table-striped table-hover" style="width:100%">
                {%include "userT/inclactioneeapprtableheader.html"%}
                          <th>Revision</th>
                            </tr>
                    </tr>
                </thead>
                <tbody>
                  {% for routes  in object_list %}
                    {% for x  in routes %}
                  <tr>
                    <td><a class="article-title" href="{% url  'HistoryFormMixin' x.id True%}">{{ x.StudyActionNo }}</a></td>
                    <td>{{ x.StudyName }}</td>
                    <td>{{ x.Disipline }} / {{ x.Subdisipline }}</td>
                    <td>{{ x.Cause }}</td>
                    <td><a class="article-title" href="{% url  'HistoryFormMixin' x.id True%}">{{ x.Recommendations }}</a></td>
                    <td>{{ x.DueDate }}</td>

                    

                    {%if riskmatrix%}
                        {% with initialrisk=x.InitialRisk%}
                        {% with riskcolour=x.RiskColour%}
                          {%include "userT/incinitialriskcolour.html"%}
                          {%endwith%}
                        {%endwith%}
                    {%else%}
                      <td>{{ x.InitialRisk }}</td><!--Original Code-->
                    {%endif%}

                
                  <td>{{ x.Revision }}</td>
                    {%endfor%}
                  {%endfor%}
                  </tbody>
              
              </table>
            </p>
          </div>

          <div id="approveractions" class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px" >

            <p class="card-text">
              <table id="table2" class="table table-striped table-hover" style="width:100%">
                {%include "userT/inclactioneeapprtableheader.html"%}
                          <th>Revision</th>
                            </tr>
                    </tr>
                </thead>
                <tbody>
                  {% for items  in approveractions %}
                    {% for x  in items %}
                  <tr>
                    <td><a class="article-title" href="{% url  'HistoryFormMixin' x.id False%}">{{ x.StudyActionNo }}</a></td>
                    <td>{{ x.StudyName }}</td>
                    <td>{{ x.Disipline }} / {{ x.Subdisipline }}</td>
                    <td>{{ x.Cause }}</td>
                    <td><a class="article-title" href="{% url  'HistoryFormMixin' x.id False%}">{{ x.Recommendations }}</a></td>
                    <td>{{ x.DueDate }}</td>

                    

                    {%if riskmatrix%}
                        {% with initialrisk=x.InitialRisk%}
                        {% with riskcolour=x.RiskColour%}
                          {%include "userT/incinitialriskcolour.html"%}
                          {%endwith%}
                        {%endwith%}
                    {%else%}
                      <td>{{ x.InitialRisk }}</td><!--Original Code-->
                    {%endif%}

                
                  <td>{{ x.Revision }}</td>
                    {%endfor%}
                  {%endfor%}
                  </tbody>
              
              </table>
            </p>

          </div>

          <!-- rejection div tab-->
          <div id="rejectedactions" class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px" >

            <p class="card-text">
              <table id="table3" class="table table-striped table-hover" style="width:100%">
                {%include "userT/inclactioneeapprtableheader.html"%}
                          <th>Revision</th>
                            </tr>
                    </tr>
                </thead>
                <tbody>
                  {% for items  in rejectedhistory %}
                    {% for x  in items %}
                  <tr>
                    <td><a class="article-title" href="{% url  'HistoryFormMixin' x.id False%}">{{ x.StudyActionNo }}</a></td>
                    <td>{{ x.StudyName }}</td>
                    <td>{{ x.Disipline }} / {{ x.Subdisipline }}</td>
                    <td>{{ x.Cause }}</td>
                    <td><a class="article-title" href="{% url  'HistoryFormMixin' x.id False%}">{{ x.Recommendations }}</a></td>
                    <td>{{ x.DueDate }}</td>

                    

                    {%if riskmatrix%}
                        {% with initialrisk=x.InitialRisk%}
                        {% with riskcolour=x.RiskColour%}
                          {%include "userT/incinitialriskcolour.html"%}
                          {%endwith%}
                        {%endwith%}
                    {%else%}
                      <td>{{ x.InitialRisk }}</td><!--Original Code-->
                    {%endif%}

                
                  <td>{{ x.Revision }}</td>
                    {%endfor%}
                  {%endfor%}
                  </tbody>
              
              </table>
            </p>

          </div>


        </div>
      </div>
    </div>
  </h6>
  </div>
</div>


          
           
         
</body>     

{%endblock%}
