  
      
      {%if initialrisk %}
                   
        
                      
                         {% if riskcolour|lower == 'red' %}

                            <td width="5%" class="table-danger">{{initialrisk}}</td>
                         {%elif riskcolour|lower == 'yellow' %}
                            <td width="5%" class="table-warning">{{initialrisk}}</td>
                          {%elif  riskcolour|lower == 'green' %}
                          <td width="5%" class="table-success">{{initialrisk}}</td>
                          {%else%}
                          <td width="5%" >{{initialrisk}}</td>
                          {%endif%}

    
      {%else%}
                  <td width="5%"> {{initialrisk}}</td> <!--Eventhough its empty just for cleaner code-->
      {%endif%}