  
      
      {%if initialrisk %}
                    {%for items in riskmatrix %}
        
                      {%if items.Combined == initialrisk %}
                         {% if items.RiskColour|lower == 'red' %}

                            <td width="5%" class="table-danger">{{initialrisk}}</td>
                         {%elif items.RiskColour|lower == 'yellow' %}
                            <td width="5%" class="table-warning">{{initialrisk}}</td>
                          {%elif  items.RiskColour|lower == 'green' %}
                          <td width="5%" class="table-success">{{initialrisk}}</td>
                          {%endif%}
                      {%endif%}

                    {%endfor%}
                  {%else%}
                  <td width="5%"> {{initialrisk}}</td> <!--Eventhough its empty just for cleaner code-->
                  {%endif%}