<div class="col popup" id="nestedstudy">

    <span class="close-btn" onclick="fadeout(this)">&times;</span>
    <h3 class="text-center">Studies</h3>
    <h3 class="caption text-center pb-3"></h3>
    <div class="donutchart" id="chart1"></div>
    <table id="studydetailstable" class="table table-striped table-hover tablew100 nestedtable">

        <!-- <style>
            td {  
              background-color:rgb(9, 255, 0);    
            }
            </style>
            -->

    </table>
</div>