<!--YHS This is the include HTML for the side notification panel. This card uses CSS class card 2 saved in OGdash.css-->
<!--The design intent of this notification panel is that this is a live panel. The new notification will keep on showing until it is replaced by old notificaton. Need to design such as maximum 10 notifications will be shown, and notification such as rejected actions will disapper once acted on-->
<div id="notifpanel" class="card card-default">
    <div class="card-header">
        <h5><i class="fa fa-bell fa-fw child-one-font"></i> Notifications Panel</h5>
    </div>
    <!-- /.panel-heading -->
    <div class="card-body p-0">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <i class="fa fa-tasks fa-fw"></i> You are assigned to 6 new actions. Click here to view.
                <span class="pull-right text-muted small"><em> 17/11/21</em>
                </span>
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-comment fa-fw"></i> Action (CRA-F-001) that you submitted is rejected. Click here to
                view.
                <span class="pull-right text-muted small"><em>16/11/21</em>
                </span>
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-tasks fa-fw"></i> You have 5 overdue as of today. Click here to view.
                <span class="pull-right text-muted small"><em>16/11/21</em>
                </span>
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-tasks fa-fw"></i> You have 5 actions overdue in next 7 days. Click here to view.
                <span class="pull-right text-muted small"><em>16/11/21</em>
                </span>
            </a>
        </div>
    </div>
</div>