<div class="col popup">
    <span class="close-btn" onclick="fadeout(this)">&times;</span>

    <div>
        <h3 style="display: inline-block;">User :</h3>
        <h3 style="display: inline-block;" class="caption pb-3"></h3>
    </div>
    <div style="justify-content:center" class="d-flex dynamicindisumm">
        <div></div>
        <div></div>
    </div>

    <table id="individualdetails" class="table table-striped table-hover tablew100 dynamictable"></table>
    <br>
    <div id="buttonplaceindisumm"></div>
</div>