{% load static %}
<link rel="icon" 
      type="image/png" 
      href="{% static 'sapura2.png' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script><!--dropdown function of the side bar button-->
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"> <!--bootstrap icon pack-->
    
    <link rel="preconnect" href="https://fonts.gstatic.com"> <!--google font-->
    
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'> <!--google font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!--icon pack-->
    <link rel="stylesheet" href="{% static 'generalcss/tabsticky.css' %}"> <!--sticky note CSS-->
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet'> <!--Guna Used for Signature Signing-->
    
    
    <!--Guna compiled all BOOSTRAP  CSS and JS CODES to this . Need another effoert for datatables and to clean up javascript-->
 
    
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap46/css/bootstrap.css' %}" >  
    <script src="{% static 'bootstrap46/js/bootstrap.min.js' %}"></script> 

    <script src="{% static 'Javascript/googlecharts.js' %}" ></script>

    <script src="{% static 'Javascript/datatable.js' %}" ></script>

      
    
    <!--Changed to above using 4.6 as we cant use 5.0 as it seems to underline the fonts for url-->

    <!--GUNA END of MESSY BOOTSTRAP CODES-->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script> <!--Datatable for filtering-->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script> <!--Datatable for filtering-->
    <!--<script src="https://cdn.datatables.net/fixedheader/3.1.8/js/dataTables.fixedHeader.min.js"></script>-->
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script> <!--Datatable for filtering-->
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css"> <!--bootstrap for pagination-->
    <script  src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

<!--Not sure what this is-->
<style>
      div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 50px;
        padding: 30px;
        font-size: 20px;
        width: 100%;
      }
      .card-columns {
   column-count: 2;
}
      </style>