<div class="col popup" id="studydetails2">
    <span class="close-btn" onclick="fadeout('original-table2', 'studydetails2')">&times;</span>
    <table id="studydetailstable2" class="table table-striped table-hover tablew100 display">
        <thead class="thead-dark">
            <tr>

                <th>Study Action No</th>
                <th>Status</th>
                <th>Current Level</th>
                <th>Person Responsible</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>CRV 001</td>
                <td>Open</td>
                <td>Actionee</td>
                <td>actionee@demo.com</td>
            </tr>
            <tr>

                <td>CRV 002</td>
                <td>Closed</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>

                <td>CRV 003</td>
                <td>Open</td>
                <td>Approver 1</td>
                <td>approver@demo.com</td>
            </tr>
        </tbody>
    </table>
</div>