<!--YHS This is the include HTML for the top 4 card class. This card uses CSS class card 2 saved in OGdash.css-->

<div class="row">
    <div class="col-md-12" style="left:10pt">
        <div id="smallcard" class="container-fluid">
            <div class="row">
                <!-- <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4"> -->
                <div class="responsive">
                    <div class="card">
                        <div class="card-header">
                            <div class="icon red">
                                <i class="material-icons">report_problem</i>
                            </div>
                            <div>
                                <p class="text-danger">High Risk Actions</p>
                                <h4>{{riskrankingsummary.High}}</h4>
                            </div>
                            <div>
                                <p class="text-warning">medium risk actions</p>
                                <h4>{{riskrankingsummary.Medium}}</h4>
                            </div>
                            <div>
                                <p class="text-success">Low Risk Actions</p>
                                <h4>{{riskrankingsummary.Low}}</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="card-footer child-two-font">
                            <p>Risk Ranking</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4"> -->
                <div class="responsive">
                    <div class="card">
                        <div class="card-header">
                            <div class="icon black">
                                <i class="material-icons">date_range</i>
                            </div>
                            <div>
                                <p class="text-danger">Overdue Actions</p>
                                <h4>{{duedatesummary.isdue}}</h4>
                            </div>
                            <div>
                                <p class="text-warning">Actions Overdue Within Next 1 Week
                                </p>
                                <h4>{{duedatesummary.isduein1week}}</h4>
                            </div>
                            <div>
                                <p class="text-success">Actions Overdue Within Next 2 Weeks</p>
                                <h4>{{duedatesummary.isduein2weeks}}</h4>
                            </div>

                        </div>
                        <hr>
                        <div class="card-footer child-two-font">
                            <p>Actions Status</p>

                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4"> -->
                <div class="responsive">
                    <div class="card">
                        <div class="card-header">
                            <div class="icon green">
                                <i class="material-icons">view_timeline</i>
                            </div>
                            <div>
                                <p>Actions Submitted</p>
                                <h4>{{submittedsummary.totalactionssubmitted}}</h4>
                            </div>
                            <div>
                                <p>Actions Rejected</p>
                                <h4>{{submittedsummary.countrejected}}</h4>
                            </div>
                            <div>
                                <p>Actions Approved and Closed</p>
                                <h4>10</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="card-footer child-two-font">
                            <p>Actionee Performance</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-sm-6"> -->
                <div class="responsive">
                    <div class="card">
                        <div class="card-header">
                            <div class="icon blue">
                                <i class="material-icons">assessment</i>
                            </div>
                            <div>
                                <p>Cumulative Holding Time</p>
                                <h4>{{strdays}} Days </h4>
                            </div>
                            <div>
                                <p class="text-danger">Holding Time > 7 days</p>
                                <h4>{{oneweekcount}}</h4>
                            </div>
                            <div>
                                <p>Holding Time > 14 days</p>
                                <h4>{{twoweekcount}}</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="card-footer child-two-font">
                            <p>Holding Time
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>