<!--YHS This is the include HTML for the top 4 card class. This card uses CSS class card 2 saved in OGdash.css-->

<div class="row">
<div class="col-md-12" style="left:10pt">   
<div class="container-fluid py-4">
  <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card2">
              <div class="card2-header p-3 pt-2">
                  <div
                      class="icon icon-lg icon-shape bg-gradient-danger shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                       <i class="material-icons opacity-10">report_problem</i> 
                  </div>
                  <div class="text-end pt-1">
                      <p class="text-large mb-0 text-capitalize text-danger">High Risk Actions</p>
                      <h4 class="mb-0">{{riskrankingsummary.High}}</h4>
                  </div>
                  <div class="text-end pt-1">
                    <p class="text-large mb-0 text-capitalize text-warning">Medium Risk Actions</p>
                    <h4 class="mb-0">{{riskrankingsummary.Medium}}</h4>
                </div>
                <div class="text-end pt-1">
                  <p class="text-large mb-0 text-capitalize text-success">Low Risk Actions</p>
                  <h4 class="mb-0">{{riskrankingsummary.Low}}</h4>
              </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card2-footer p-3">
                  <p class="mb-0">Risk Ranking</p> <!-- size to be changed to H5 class to be consistent with other ofnts on the page-->
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card2">
              <div class="card2-header p-3 pt-2">
                  <div
                      class="icon icon-lg icon-shape bg-gradient-info shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                      <i class="material-icons opacity-10">date_range</i>
                  </div>
                  <div class="text-end pt-1">
                    <p class="text-large mb-0 text-capitalize text-danger">Overdue Actions</p>
                    <h4 class="mb-0">{{duedatesummary.isdue}}</h4>
                </div>
                <div class="text-end pt-1">
                  <p class="text-large mb-0 text-capitalize text-warning">Actions Overdue in 1 Week</p>
                  <h4 class="mb-0">{{duedatesummary.isduein1week}}</h4>
              </div>
              <div class="text-end pt-1">
                <p class="text-large mb-0 text-capitalize text-success">Actions Overdue in 2 Weeks</p>
                <h4 class="mb-0">{{duedatesummary.isduein2weeks}}</h4>
            </div>
                  
              </div>
              <hr class="dark horizontal my-0">
              <div class="card2-footer p-3">
                <p class="mb-0">Actions Status</p>
                   
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card2">
              <div class="card2-header p-3 pt-2">
                  <div
                      class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                      <i class="material-icons opacity-10">view_timeline</i>
                  </div>
                  <div class="text-end pt-1">
                      <p class="ext-large mb-0 text-capitalize ">Actions Submitted </p>
                      <h4 class="mb-0">10</h4>
                    </div>
                    <div class="text-end pt-1">
                        <p class="ext-large mb-0 text-capitalize ">Actions Rejected</p>
                        <h4 class="mb-0">10</h4>
                    </div>
                    <div class="text-end pt-1">
                      <p class="ext-large mb-0 text-capitalize ">Actions Approved and Closed </p>
                      <h4 class="mb-0">10</h4>
                    </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card2-footer p-3">
                  <p class="mb-0">Actionee Performance</p>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-sm-6">
          <div class="card2">
              <div class="card2-header p-3 pt-2">
                  <div
                      class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                      <i class="material-icons opacity-10">assessment</i>
                  </div>
                  <div class="text-end pt-1">
                      <p class="text-large mb-0 text-capitalize">Current Holding Time</p>
                      <h4 class="mb-0">2 days</h4>
                    </div>
                    <div class="text-end pt-1">
                      <p class="text-large mb-0 text-capitalize text-danger">Holding Time > 7 days</p>
                      <h4 class="mb-0">2</h4>
                    </div>
                    <div class="text-end pt-1">
                      <p class="text-large mb-0 text-capitalize">Overdue Actions to Review</p>
                      <h4 class="mb-0">2</h4>
                    
                  </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card2-footer p-3">
                  <p class="mb-0">Approver Performance
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
</div>	
