{% load static %}

<nav class="navbar navbar-expand-lg" style="background-color: #ffffff; border-bottom:rgb(255, 255, 255) solid 1px ;">
    <!-- starting with container fluid & placing the logo on far left -->
    <div class="container-fluid">
        <div class="navbar-nav md-3">
            <h3 class="nav-link active" aria-current="page" style="color:#2ea9e2; font-size: 3rem; "> <b>ehs tools</b>
            </h3>
            <h1 class="nav-link active" aria-current="page"
                style="color:#2ea9e2; font-size: 1.25rem; position: absolute; left : 180pt; bottom: 15px; "> 
                <b> {{Versioning}}</b>
            </h1>
        </div>

        <!--Username and Logout button including bottom border-->
        <div class="pb-2 mb-3 text-right">
            <div style="font-size: 1.25rem; font-family:'Open Sans', sans-serif">
                <i></i>{{user.email}}
                <a href="/logout">
                    <button type="button" class="btn btn-secondary btn-sm;"><i
                            class="fas fa-sign-out-alt"></i>Logout</button>
                </a>
            </div>
        </div>
    </div>
</nav>
