<thead class="thead-dark">
                    <tr class="filters">
                      <th width="10%">
                        Study Action No
                      </th>
                      <th width="10%">
                        Study Name
                      </th>
                      <th width="8%">
                        Org/Disc/Sub-Disc
                      </th>
                      
                      <th width="20%">
                        Cause
                      </th>
                      
                      <th width="25%">
                        Recommendation
                      </th>
                      <th width="8%">
                        Due Date
                      </th>
                      <th width="">
                        Initial Risk
                      </th>
                     
                 
           