<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout </title>
    {%include "userT/inclscriptslinkbase3.html"%}
</head>

<body>

    {%load crispy_forms_tags %}

    {% if form.errors %}
    <p>Something went wrong, please check</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>You are still logged in. Go Check</p>
    {% else %}
    <p>You are successfully logged out.</p>
    {% endif %}
    {% endif %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div style="margin-top: 100px;" class="col-sm-4 mx-auto">
                <fieldset class="form-group">
                    <div class="card">
                        <div class="card-header header-blue">
                            <div class="title">Logged Out</div>

                        </div>
                        <div style="padding-top:30px" class="card-body">



                            <div>
                                <p>Thanks for using the software. You are successfully logged out now. </p>
                                <br>
                                <p class="m-auto">You may go ahead and <a href="{% url 'login' %}">sign in</a>.</p>

                            </div>

                            <div style="margin-bottom: 25px" class="input-group">

                                <form method="post" action="{% url 'login' %}">
                                    {% csrf_token %}
                                </form>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>
</body>

</html>