{% extends "userT/base3.html"%}
{%load crispy_forms_tags %}

{% block Actioneelist%}
<!--hidden for styling-->
<!--
<h1>Your Actions</h1>
-->
      
<div class="row">
<!--breadcrumbs - needs to be automated.-->
<div class="row" >
    <nav>
      <ol class="breadcrumb" style="bg-light;">
        <li class="breadcrumb-item-active">
          <a aria-current="page" style="font-size:x-large">Dashboard</a>
        </li>
       
      </ol>
    </nav>
<div class="col-md-12 center">
<div class="card">
    <div class="card-header" style="font-size: large;">
     Your Actions
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12" >
            <div class="card">
                <div class="card-header" style="font-size: large" >
                    <a href="/ActioneeList" >
                        Actionee Action                
                       </a>
                    
                </div>
                <div>
                {%for chart in charts%}
                <div style="float:left;" class="card-body " >
                <a href="/ActioneeList">
                <img src="data:image/png;base64, {{chart|safe}}" alt="Actionee"  >
                </a>
                </div>
                {%endfor%}
            </div>
            <!--<a class="h5" href="/ActioneeList">Go to All Your Actions</a>--><!--Not used-->
            </div>                      
            </div>
        </div> 

        <div class="row">         
            <div class="col-md-12">
            <div class="card">
            <div class="card-header" style="font-size: large;">
            <a href="/ApproverList">
                Approver Actions (Cummulative)
            </a>
            </div>
            <div>
                {%for apprcharts in apprcharts%}
            <div style="float:left;" class="card-body">
               
            <img src="data:image/png;base64, {{apprcharts|safe}}" alt="Overall Closed Actions" width="80%" height="80%">
               
            </div>
            {%endfor%}
            </div>
            <!--<a class="h5" href="/ApproverList">Go to Your Pending Approvals</a>--> <!--Not Used-->
            </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
</div>

<br>
<!--spare from original-->
    <!--<div class="col-md-6">
        <div class="card">
                <div class="card-header" style="font-size: large;">
                  Approver Actions (Cummulative) BACKUP
                </div>
                <div class="card-body">
                    <canvas id="Approver"></canvas>
                    <script>
        
                        var myChart = document.getElementById('Approver').getContext('2d');
                        
                        var charts = new Chart(myChart, {
                            type: 'pie',
                            data : {
        
                                labels : {{labelsApprover|safe}},
        
                                datasets : [{
                                    
                                    
                                    data : {{dataApprover|safe}},
        
                                    borderWidth: 1,
                                    borderColor: 'black',
                                    backgroundColor: ["#D3EDEE","#91CACC", "#C0A8A3","#5E6565","#E5C0E2","#E0E1B3" ,"#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF"],
                                }]
                                
                            },
                            
                            options: {
        
                                title:{
                                    display : true,
                                    text: "Approver Actions",
                                    fontSize : 20,
                                },
                                tooltips: {enabled: true},
                                onClick:function(vte){
                                    //alert("this sss")
                                    //var activePoints = ActioneeChart.getElementsAtEvent(e);
                                    //var selectedIndex = activePoints[0]._index;
                                    //document.location = this.data.datasets[0].data[selectedIndex];
                                    
                                    
                                }
                            }
                        });
                    
                        
                    </script>
                </div>
                <a class="h5" href="/ApproverList">Go to Your Pending Approvals</a>
                </div>
              </div>
<!--original-->
<!--
<div class="container-fluid">
    <div style="width:50% ; float:left"> 
        <canvas id="ActioneeChart"></canvas>
            <script>
                Chart.defaults.global.defaultFontColor = 'blue'
                
                var myChart = document.getElementById('ActioneeChart').getContext('2d');
                
                var charts = new Chart(myChart, {
                    type: 'polarArea',
                    
                    data : {

                        labels : {{labelsActionee|safe}},

                        datasets : [{
                            
                            
                            data : {{dataActionee|safe}},

                            borderWidth: 3,
                            borderColor: '#777',
                        }]
                        
                    },
                    
                    options: {
                        title:{
                            fontSize : 20,
                            display : true,
                            text: "Actionee Actions",
                        },
                       
                            yAxes: [{
                                ticks: {
                                    display:false,
                                    beginAtZero: true
                                }
                            }], 
                            xAxes: [{
                                ticks: {
                                    display:false,
                                    beginAtZero: true
                                }
                            }],              
                        onClick:function(e){
                            alert("this is a test");
                            var activePoints = ActioneeChart.getElementsAtEvent(e);
                            var selectedIndex = activePoints[0]._index;
                            document.location = this.data.datasets[0].data[selectedIndex];
                            //document.location = '/home';
                            
                        }

                    }
                });
            
                
            </script>
    </div>
    <div style="width:50% ; float:left"> 
        <canvas id="Approver"></canvas>
            <script>

                var myChart = document.getElementById('Approver').getContext('2d');
                
                var charts = new Chart(myChart, {
                    type: 'polarArea',
                    data : {

                        labels : {{labelsApprover|safe}},

                        datasets : [{
                            
                            
                            data : {{dataApprover|safe}},

                            borderWidth: 3,
                            borderColor: '#777',
                        }]
                        
                    },
                    
                    options: {

                        title:{
                            display : true,
                            text: "Approver Actions",
                            fontSize : 20,
                        },
                    }
                });
            
                
            </script>
    </div>
</div>
-->
{%endblock%}


