{% extends "userT\base3.html"%}

{%load crispy_forms_tags %}
{% crispy form form.helper%}

{% block ApproverDetails%}

<script type="text/javascript" >
	updateList = function() {
        alert("test");
        var input = document.getElementById('Attachment');
        var output = document.getElementById('fileList');
        var children = "";
        for (var i = 0; i < input.files.length; ++i) {
            children += '<li>' + input.files.item(i).name + '</li>';
        }
        output.innerHTML = '<ul>'+children+'</ul>';
    }
	</script>
<!--breadcrumbs-->
<div class=''>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/main">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/ActioneeList">Actionee List</a>
        </li>
        <li class="breadcrumb-item active">
            <a aria-current="page">{{object.StudyActionNo}}</a>
        </li>
      </ol>
    </nav>

   
<!--breadcrumbs - needs to be automated.-->

<fieldset class="form-group" >
    <form method="POST" enctype = 'multipart/form-data' >  
        {% csrf_token %}  
        {%crispy form%}
       
    </form> 
</fieldset>
<div id="fileList"></div>
<div class="row" >
    <table class="table table-striped table-hover"> <!--set to maximum 20 rows per page-->
        <thead class="thead-dark">
            <tr>
            <th>
                DateRejected
            </th>
            <th>
            Previous Rejection Reason
            </th>
            <th>
            Username
            </th>
            </tr>
        </thead>
        <tbody>
            {%for items in Rejectcomments %}

            <tr>
            <td>{{ items.DateAdded }}</td>
            <td>{{ items.Reason }}<</td>
            <td>{{ items.Username}}<</td>
            </tr>
            {%endfor%}

        </tbody>
    </div>
</div>
{%endblock%}
