{% extends "userT/base3.html"%}

{%load crispy_forms_tags %}

{% block ToolTip %}

    <!-- 20210828 edward UI -->
    <div class="postitnote sticky "  style="font-size:small; font-family:Lato; margin-right:5px;margin-left:0px; margin-top:10px; width:150pt; position:absolute;  "> 
        <div class="col-md-1;margin-right:5px;margin-left:5px">
           <table class="sticky table table-hover" > <!--set to maximum 20 rows per page-->
            <thead class="thead">
              <tr>
                <th>
                  e-Signature
                </th>
              
              </tr>
              
          </thead>
          <tbody>
            
    
            <tr>
            <td>Upon clicking the upload & sign button, it is accepted that you have signed your resolution for the approval stage</td>
          
            
            </tr>
            
            </tbody>
        </table>
        
      </div>
      <br>
      <br>
    </div>
      
    {%endblock%}

{% block ApproverDetails%}

<script type="text/javascript" >
	updateList = function() {
        alert("test");
        var input = document.getElementById('Attachment');
        var output = document.getElementById('fileList');
        var children = "";
        for (var i = 0; i < input.files.length; ++i) {
            children += '<li>' + input.files.item(i).name + '</li>';
        }
        output.innerHTML = '<ul>'+children+'</ul>';
    }
	</script>
<!--breadcrumbs-->
<div class=''>
    <nav>
      <!-- 20210828 edward UI -->
      <ol class="breadcrumb" style="background-color: #ffffff; position:relative;  right: -30px; bottom: -25px;">
        <li class="breadcrumb-item-active">
          <a href="/main">Dashboard</a>
        </li>
        <li class="breadcrumb-item-active">
            <a href="/ActioneeList">Actions</a>
        </li>
        <li class="breadcrumb-item-active">
            <a aria-current="page">{{object.StudyActionNo}}</a>
        </li>
      </ol>
    </nav>

   
<!--breadcrumbs - needs to be automated.-->


    <form method="POST" enctype = 'multipart/form-data' style="margin-left:20pt; margin-top:50px;" >  
        <fieldset class="form-group" > <!--Fieldset is ultimtely important and must be inside the form and encompass the buttons. 
            The buttons was removed from forms into direct HTml to give the btn-outline-primary class. In forms it does not work
        -->
        {% csrf_token %}  
        {%crispy form%}
        <div class="float-right col-md-3 ">
          <div>
            <label for="signature" class=" requiredField">
            Type Your Signature (will use your email if not signed) <span class="asteriskField">*</span> </label>
            <textarea class="textarea form-control" style="font-family: Great Vibes;font-size: 50px"  name="signature" >{{signature}}</textarea>
          </div>
          <br>
          <div>
            <div class="form-group"><input type="submit" name="Upload" value=" Upload Files & Sign" class="btn btn-outline-primary btm-md float-right"  id="submit-id-approve" onclick="var e=this;setTimeout(function(){e.disabled=true;},0);return true;"></div> 
            <div class="form-group"><input type="submit" name="Cancel" value="Cancel" class="btn btn-outline-primary btn-md float-right"  id="submit-id-reject"/></div>
          </div>
        </div>
        </fieldset>
      </form> 
      
      <div id="fileList"></div>
      
      </div>
      {%endblock%}
