{% extends 'userT/base1.html' %}

{% block content %}


<fieldset class="form-group">
	<div id="Password Changed" style="margin-top:100px;" class="mainbox col-md-6 col-md-offset-3 col-md-6 col-md-offset-3;">         
        <div class="panel panel-info" >
            <div class="panel-heading" >
                <div class="panel-title" >Password Changed!</div>
             </div>     

            <div style="padding-top:30px" class="panel-body" >

          
                      <br>
                      <br>
                    <div style="margin-bottom: 25px" class="input-group">
                                
                                <form method="post" action="{% url 'login' %}">
                                    {% csrf_token %}
                                       
                                   
                                    <br>
                                    <input class="btn btn-success" type="submit" value="Login">
                                    <input type="hidden" name="next" value="{{ next }}">
                                </form>

                    </div>      
                    
                    
                </div>  
                </div>
            </div>
</fieldset>
  


<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">Your password has been Updated.</p>
	</div>
</div>

{% endblock %}