<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password </title>
  {%include "userT/inclscriptslinkbase3.html"%}
</head>

<body>
  {%load crispy_forms_tags %}
  {% load static %}

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div style="margin-top: 100px" class="col-md-4 mx-auto">
        <fieldset class="form-group">
          <div class="card">
            <div class="card-header header-blue">
              <div class="title">Change Password</div>
            </div>

            <div style="padding-top:30px" class="card-body">



              <form method="POST" class="form-signin">{% csrf_token %}



                {{ form|crispy }}


                <!--this is not used because we are using crispy form template-->
                <!--
                                <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
                                  <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true"><br>
                                  <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true"><br>
                                  <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true"><br>
                             -->

                <button id="id_submit_btn" class="btn btn-primary btn-lg btn-block button-blue"
                  type="submit">Update</button>
                <!--pending changing the default crispy form error message to red-->

              </form>


            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</body>

</html>