<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset </title>
  {%include "userT/inclscriptslinkbase3.html"%}
</head>

<body>
  {%load crispy_forms_tags %}
  {% load static %}

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div style="margin-top: 100px" class="col-4 mx-auto">
        <fieldset class="form-group">
          <div class="card">
            <div class="card-header header-blue">
              <div class="title">Reset Password</div>

            </div>

            <div style="padding-top: 30px" class="card-body">
              <form method="POST" class="form-signin">{% csrf_token %}

                {{ form|crispy }}

                <button class="btn btn-primary btn-lg btn-block button-blue" type="submit">Send reset email</button>

              </form>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</body>

</html>