{% extends "userT/base1.html" %}
{%load crispy_forms_tags %}
{%block title%}Change Password {%endblock%}
{% load static %}

{% block content %}

<fieldset class="form-group">
  <div id="loginbox" style="margin-top:100px;" class="mainbox col-md-6 col-md-offset-3 col-md-6 col-md-offset-3;">           
      <div class="panel panel-info" >
          <div class="panel-heading" >
              <div class="panel-title" >Change Password</div>
             
          </div>     

          <div style="padding-top:30px" class="panel-body" >

            
                                              
                              <form method="POST" class="form-signin">{% csrf_token %}

                          
                                    
                                {{ form|crispy }}

								<p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
                               
                            
                                
                              </form>
                              
                   
              </div>  
              </div>
          </div>


          




          {% endblock %}



