<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password </title>
  {%include "userT/inclscriptslinkbase3.html"%}
</head>

<body>
  {%load crispy_forms_tags %}
  {% load static %}

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div style="margin-top: 100px" class="col-md-4 mx-auto">
        <fieldset class="form-group">
          <div class="card">
            <div class="card-header header-blue">
              <div class="title">Reset Password</div>
            </div>

            <div style="padding-top: 30px" class="card-body">
              <form method="POST" class="form-signin">

                {% csrf_token %}
                {{ form|crispy }}

                <p class="m-auto">We've emailed you instructions for resetting your password. Please check your email
                  instructions for the steps. Please ensure that you entered the correct email address you registered
                  with,
                  and check your spam folder in the event that you did not receive the password reset instructions.</p>

                <br>
                <p class="m-auto">You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
                <br>

              </form>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</body>

</html>