<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password </title>
  {%include "userT/inclscriptslinkbase3.html"%}
</head>

<body>
  {%load crispy_forms_tags %}
  {% load static %}

  <div class="container">
    <div class="row justify-content-center">
      <fieldset class="form-group">
        <div id="loginbox" style="margin-top: 100px " class="col-md-10 mx-auto">
          <div class="card">
            <div class="card-header">
              <div class="card-title">Reset Password</div>
            </div>

            <div style="padding-top: 30px" class="card-body">

              {% if validlink %}

              <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}

                <input class="btn btn-outline-primary btn-block" type="submit" value="Change my password">
              </form>

              {% else %}

              <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset.</p>

              {% endif %}

            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</body>

</html>