{% extends "userT/base1.html" %}
{%load crispy_forms_tags %}
{%block title%}Change Password {%endblock%}
{% load static %}

{% block content %}

<fieldset class="form-group">
  <div id="loginbox" style="margin-top:100px;" class="mainbox col-md-6 col-md-offset-3 col-md-6 col-md-offset-3;">           
      <div class="panel panel-default" >
          <div class="panel-heading" >
              <div class="panel-title" >Change Password</div>
             
          </div>     

          <div style="padding-top:30px" class="panel-body" >

            
                                              
                              <form method="POST" class="form-signin">{% csrf_token %}

                          
                                    
                                {{ form|crispy }}


                                <!--this is not used because we are using crispy form template-->
                                <!--
                                <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
                                  <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true"><br>
                                  <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true"><br>
                                  <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true"><br>
                             -->
                                
                              <button id="id_submit_btn" class="btn btn-lg btn-primary-outline btn-block" type="submit">Update</button> 
                                 <!--pending changing the default crispy form error message to red-->
                                
                              </form>
                              
                   
              </div>  
              </div>
          </div>




          {% endblock %}