<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password </title>
    {%include "userT/inclscriptslinkbase3.html"%}
</head>

<body>
    {%load crispy_forms_tags %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div style="margin-top: 100px" class="col-md-4 mx-auto">
                <fieldset class="form-group">
                    <div class="card">
                        <div class="card-header header-blue">
                            <div class="title">Password Changed!</div>
                        </div>

                        <div style="padding-top:30px" class="card-body">
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                {{ form|crispy  }}
                                <div class="container">
                                    <p class="m-auto">Your password has been updated.</p><br> Please click on the
                                    login
                                    button below to login again.</p>
                                    <br>
                                    <input class="btn btn-primary btn-lg btn-block button-blue" type="submit"
                                        value="Login">
                                    <input type="hidden" name="next" value="{{ next }}">
                            </form>
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>
</body>

</html>