<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password </title>
    {%include "userT/inclscriptslinkbase3.html"%}
</head>

<body>
    {%load crispy_forms_tags %}

    <div class="container">
        <div class="row justify-content-center">
            <fieldset class="form-group">
                <div id="Password Changed" style="margin-top: 100px" class="col-md-10 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Password Changed!</div>
                        </div>

                        <div style="padding-top:30px" class="card-body">
                            <div style="margin-bottom: 25px" class="input-group">

                                <form method="post" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    {{ form|crispy  }}
                                    <div class="container">
                                        <p class="m-auto">Your password has been updated.</p><br> Please click on the
                                        login
                                        button below to login again.</p>
                                        <br>
                                        <input class="btn btn-outline-primary btn-block" type="submit" value="Login">
                                        <input type="hidden" name="next" value="{{ next }}">
                                </form>

                            </div>
                        </div>
            </fieldset>
        </div>
    </div>
</body>

</html>