{% extends "userT/base3.html"%}
{%block Actionee%}
<nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item normal">
          <a href="/main">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <a aria-current="page">Profile</a>
        </li>
      </ol>
</nav>
<br>    

	
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<h5 class="card-header">
							User Profile
						</h5>
						<div class="card-body">
							<p class="card-text">
								Card content
							</p>
						</div>					
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<h5 class="card-header">
							Password Management
						</h5>
						<div class="card-body">
							<p class="card-text">
                <button type="button" class="btn btn-outline-secondary">Change Password</button><br><br>
                <button type="button" class="btn btn-outline-secondary">Reset Password</button><br>
							</p>
						</div>
        </div>
				</div>
			</div>






			

<br>
 
{%endblock%}
