{% extends "userT/base3.html"%}
{%load crispy_forms_tags %}
{% crispy form form.helper%}

{% block RejectionComments %}




<body>

    
        <form method="POST" enctype = 'multipart/form-data' >  
            <fieldset class="form-group" >
            {% csrf_token %}  
            {%crispy form%}
            <div class="form-group"><input type="submit" name="Reject" value=" Reject with Comments." class="btn btn-outline-primary float-right "  id="submit-id-approve"/></div> 
            <div class="form-group"><input type="submit" name="Cancel" value="Cancel" class="btn btn-outline-primary float-right col-md-1"  id="submit-id-reject"/></div>
        </fieldset>
        </form> 
   
<br>
       
            <div class="col-md-12" >
                <table class="table table-striped table-hover" id="example"> <!--set to maximum 20 rows per page-->
                    <thead class="thead-dark">
                        <tr>
                        <th>
                            DateRejected
                        </th>
                        <th>
                        Previous Rejection Reason
                        </th>
                        <th>
                        Username
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for items in Rejectcomments %}
        
                        <tr>
                        <td>{{ items.DateAdded }}</td>
                        <td>{{ items.Reason }}</td>
                        <td>{{ items.Username}}</td>
                        </tr>
                        {%endfor%}
        
                    </tbody>
                </div>
     

</body>
{%endblock%}