
{% extends "userT\base3.html"%}
{% block ClosedOut%}
<nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item normal">
        <a href="/main">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
          <a aria-current="page">Actions Summary</a>
      </li>
    </ol>
</nav>

<style>
    .left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
</style>

			<div class="row">
				<div class="col-md-10">
					<div class="card">
						<h5 class="card-header">
							Actions Status
						</h5>
						<div class="card-body">
							<p class="card-text">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="data:image/png;base64, {{chart|safe}}" alt="Overall Closed Actions" class="left">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="data:image/png;base64, {{chartChanges|safe}}" alt="Overall Closed Actions" class="right">
                                    </div>
                            </div>
							</p>
						</div>
						<div class="card-footer">
							<button type="button" class="btn btn-outline-primary" style="float:right">Download</button>
						</div>
					</div>
				</div>
				{% if overall %}
                <div class="col-md-2">
					<div class="card">
						<h5 class="card-header">
							Filter Chart 
						</h5>
						<div class="card-body">
							<p class="card-text">
                <form method="POST" enctype = 'multipart/form-data' > 
                  {% csrf_token %}  
                  <fieldset class="form-group" >
                                <h6>Action Status</h6>
                                <input type="radio" id="ActionStatus" name="ActionStatus" value="Open" checked>
                                <label for="ActionStatus"> Open</label><br>   
                                <input type="radio" id="ActionStatus" name="ActionStatus" value="Closed">
                                <label for="ActionStatuss"> Closed</label><br>
                                
                                <h6>Sort By</h6>
                                <input type="radio" id="SortOn" name="SortOn" value="Company" checked>
                                <label for="PieChartSort"> Company</label><br>
                                <input type="radio" id="SortOn" name="SortOn" value="Discipline" >
                                <label for="PieChartSort"> Discipline</label><br>
                                <input type="radio" id="SortOn" name="SortOn" value="Workshops" >
                                <label for="PieChartSort"> Workshops</label><br>
                                <input type="radio" id="SortOn" name="SortOn" value="All" >
                                <label for="PieChartSort"> All</label><br>                                
                                <h6>Overdue Actions</h6>
                                <input type="radio" id="OverdueOnly" name="OverdueOnly" value="Yes" checked>
                                <label for="OverdueOnly"> Yes</label><br>   
                                <input type="radio" id="OverdueOnly" name="OverdueOnly" value="No" >
                                <label for="OverdueOnly"> No</label> 
                                
							</p>
						</div>
						<div class="card-footer">
              <div class="form-group"><input type="submit" name="GenerateGraph" value="Generate Graph" class="btn btn-outline-primary float-right "  /></div>       
                      
						</div>
            </fieldset>
					</div>
				</div>

                {%endif%}
                {%if discpslice%}
                    <!--HS to add filters for Discpline-->
                {% endif%}
			</div>

<br>

<!--<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">
                Filter Table
            </h5>
            <div class="card-body">
                <p class="card-text">
                    <h6>Sort By</h6>
                    <input type="radio" id="TableSort" name="TableSort" value="Organizations" checked>
                    <label for="PieChartSort"> Organizations</label><br>
                    <input type="radio" id="TableSort" name="TableSort" value="Disciplines" checked>
                    <label for="TableSort"> Disciplines</label><br>
                    <input type="radio" id="TableSort" name="TableSort" value="Workshops" checked>
                    <label for="TableSort"> Workshops</label>                                                            
                </p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary" style="float:right">Generate Table</button>
            </div>
        </div>
    </div>
</div>
<br>-->
<!--Dummy Table-->
<div class="row">
	<div class="col-md-12">
        <div class="card">
        <div><h5 class="card-header">
            Summary Excel Tables
        </h5></div>
            <div class="card-body">
            
             </div>
             <div class="card-footer">
                <button type="button" class="btn btn-outline-primary" style="float:right">Download</button>
            </div>   
        </div>
    </div>
</div>

{%endblock%}