
{% extends "userT\base3.html"%}
{% block ClosedOut%}
<nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item normal">
        <a href="/main">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
          <a aria-current="page">Actions Summary</a>
      </li>
    </ol>
</nav>

<style>
    .left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
</style>

			<div class="row">
				<div class="col-md-10">
					<div class="card">
						<h5 class="card-header">
							Actions Status
						</h5>
						<div class="card-body">
							<p class="card-text">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="data:image/png;base64, {{chart|safe}}" alt="Overall Closed Actions" class="left">
                                    </div>
                                    <div class="col-md-6">
                                        <img src="data:image/png;base64, {{chartDiscSub|safe}}" alt="Overall Closed Actions" class="right">
                                    </div>
                            </div>
							</p>
						</div>
						<div class="card-footer">
							<button type="button" class="btn btn-outline-primary" style="float:right">Download</button>
						</div>
					</div>
				</div>
				{% if overall %}
                <div class="col-md-2">
					<div class="card">
						<h5 class="card-header">
							Filter Chart 
						</h5>
						<div class="card-body">
							<p class="card-text">
                                <h6>Action Status</h6>
                                <input type="radio" id="ActionStatus" name="ActionStatus" value="Open" checked>
                                <label for="ActionStatus"> Open</label><br>   
                                <input type="radio" id="ActionStatus" name="ActionStatus" value="Closed">
                                <label for="ActionStatuss"> Closed</label><br>
                                <input type="radio" id="ActionStatus" name="ActionStatus" value="Both">
                                <label for="ActionStatus"> Both</label><br>
                                <h6>Sort By</h6>
                                <input type="radio" id="PieChartSort" name="PieChartSort" value="Organizations" checked>
                                <label for="PieChartSort"> Organizations</label><br>
                                <input type="radio" id="PieChartSort" name="PieChartSort" value="Disciplines" checked>
                                <label for="PieChartSort"> Disciplines</label><br>
                                <input type="radio" id="PieChartSort" name="PieChartSort" value="Workshops" checked>
                                <label for="PieChartSort"> Workshops</label><br>
                                <input type="radio" id="PieChartSort" name="PieChartSort" value="All" checked>
                                <label for="PieChartSort"> All</label><br>                                
                                <h6>Show Overdue Only</h6>
                                <input type="radio" id="OverdueOnly" name="OverdueOnly" value="Yes" checked>
                                <label for="OverdueOnly"> Yes</label><br>   
                                <input type="radio" id="OverdueOnly" name="OverdueOnly" value="No" checked>
                                <label for="OverdueOnly"> No</label> 
                                
							</p>
						</div>
						<div class="card-footer">
                            <button type="button" class="btn btn-outline-primary" style="float:right">Generate Graph</button>
						</div>
					</div>
				</div>

                {%endif%}
                {%if discpslice%}
                    <!--HS to add filters for Discpline-->
                {% endif%}
			</div>

<br>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">
                Filter Table
            </h5>
            <div class="card-body">
                <p class="card-text">
                    <h6>Sort By</h6>
                    <input type="radio" id="TableSort" name="TableSort" value="Organizations" checked>
                    <label for="PieChartSort"> Organizations</label><br>
                    <input type="radio" id="TableSort" name="TableSort" value="Disciplines" checked>
                    <label for="TableSort"> Disciplines</label><br>
                    <input type="radio" id="TableSort" name="TableSort" value="Workshops" checked>
                    <label for="TableSort"> Workshops</label>                                                            
                </p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary" style="float:right">Generate Table</button>
            </div>
        </div>
    </div>
</div>
<br>
<!--Dummy Table-->
<div class="row">
	<div class="col-md-12">
        <div class="card">
        <h5 class="card-header">
            Summary Table
        </h5>
            <div class="card-body">
            <table  class="table table-striped table-hover "id="Overview"> 
              <thead class="thead-dark ">
                <tr class="filters">
                  <th onclick="sortTable(0)">
                    Studies
                  </th>
                  <th onclick="sortTable(1)">
                    New
                  </th>
                  <th onclick="sortTable(2)">
                    Submitted for Approval
                  </th>
                  <th onclick="sortTable(3)">
                    Closed
                  </th>
                  <th onclick="sortTable(4)">
                    Total
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr> 
                  <td>Construction Risk Assessment</td> 
                  <td>52</td>
                  <td>39</td>
                  <td>12</td>
                  <td>103</td> 
                </tr>     
                <tr> 
                  <td>HAZID</td> 
                  <td>15</td>
                  <td>15</td>
                  <td>15</td>
                  <td>45</td> 
                </tr> 
              </tbody>
             </table> 
             </div>
             <div class="card-footer">
                <button type="button" class="btn btn-outline-primary" style="float:right">Download</button>
            </div>   
        </div>
    </div>
</div>

{%endblock%}