{% extends "userT/base3.html"%}
{% block reppmt%}

<html>

  <head>
   
    <script type="text/javascript">
       
      
        
        //google.charts.load('current', {'packages':['line']});
        //google.charts.setOnLoadCallback(starter); //cant call drawchart with paarmeters, need the parameters to make the code effcient
        function initiateGooPieChart(){
         
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(starterPie); 

        }
        function starterPie ()
        {
          {% for chart in forpie%}
          {%if chart %}
            
                    drawPieChart({{chart|safe}} ,  {{ forloop.counter }},'{{chart.0}}');
            {%endif%}
          {%endfor%}
              
        }

        function drawPieChart(values,index,chartTitle) 
        {
          
          firstindex = chartTitle.lastIndexOf("///")+3
          
          lastindex = chartTitle.lastIndexOf(":::")
          var newtitle = chartTitle.substring(firstindex,lastindex );
         
          var data = google.visualization.arrayToDataTable(values);
  
          var options = {
            title: newtitle,
            is3D : true,
            
            pieSliceText : 'value',
            pieSliceTextStyle: {
              bold: true,
              fontSize: 25,
              color: 'black'
          },
            titleTextStyle: {
              color: 'Black',    // any HTML string color ('red', '#cc00cc')
              fontName: 'Helvetica', // i.e. 'Times New Roman'
              fontSize: 25, // 12, 18 whatever you want (don't specify px)
              bold: true,    // true or false
              italic: false   // true of false
                          },
              height: 500,
              width: 900,
              
              chartArea:{left:20,top:100,width:'100%',height:'100%'},
              legend : {position: 'labeled', textStyle: {color: 'black', fontSize: 20}} //have to add this in otherwise charts seem small...like your dick
          };
          
         
          //var strpie = "piechart";
          //var finalpie = strpie.concat(index);
        
        var strpie = "piechart";
        var finalpie = strpie.concat(index);
      
        var chart = new google.visualization.PieChart(document.getElementById(finalpie));
        chart.draw(data, options);

          //var chart = new google.visualization.PieChart(document.getElementById('piechart'));
          //chart.draw(data, options);
          }
  
        function initiateGoogleChart(){
          google.charts.load('current', {'packages':['corechart']}); //edward 20210728 new chart
          //google.charts.load('current', {'packages':['line']});
          google.charts.setOnLoadCallback(starter);

        }
        function starter(){
            
                drawChart({{rundowncontent|safe}} );
                   }

        function drawChart(values) {
        
          var chartdata = [];
          var data = new google.visualization.DataTable();
          data.addColumn('date', 'Date');
          data.addColumn('number', 'Planned');
          data.addColumn('number', 'Actual');
        
          var arrplot =[]
          for(var i = 0; i < values.length; i++){
          //for(var j = 0; j < values[i].length; j++){
              
                first = (values[0][0]);
                seconddate=(values[1][0]);
                datess= (values[i][0]);
                actual = (values[i][1]);
                planned =(values[i][2]);
                
                stringdatas = '[new Date(\'' + datess + '\'),'+ actual + ','+ planned + ']';
                
                arrplot.push(stringdatas)
              
          //}
      }
        //stringdata = '[new Date(\'' + first + '\'),200,210]';
          var datarows = [];
          for (var k =0;k<arrplot.length;k++)
        
        {
        
            data.addRow(eval(arrplot[k]));
        
        }
        ;
  
          var options = {
            interpolateNulls: true,//edward 20210728 new chart 
            chart: {
              title: 'Run-Down Curve',
              subtitle: 'Action Items',
            
          },
            colors: ['blue', 'red'],
            //hAxis:{ format: 'MMM d,y'}, //edward 20210728 new chart
            hAxis:{ format: 'd MMMM',}, //edward 20210728 new chart
            pointSize: 5,
            vAxis: {title: "Number of Actions",titleTextStyle: {
              fontName: 'Helvetica',
              
                fontSize: 20,
                bold:true,
                }},//edward 20210728 new chart
            //curveType: 'function', //edward 20210728 new chart
            //legend: {position: 'left', textStyle: { fontSize: 16}}, //edward 20210728 new chart
            legend: {position: 'top', textStyle: {color: 'red', fontSize: 16}},//edward 20210728 new chart
            width: 1200,//edward 20210728 new chart changed the width to keep it in
            height: 500
        };
  
            //var chart = new google.charts.Line(document.getElementById('linecharted')); //edward 20210728 new chart
            var chart = new google.visualization.LineChart(document.getElementById('linecharted'));//edward 20210728 new chart
            chart.draw(data,options);//edward 20210728
        
        //chart.draw(data, google.charts.Line.convertOptions(options));
        //edward 20210730 commit
      }
    
    </script>
  </head>


<body onload="openReport(event, 'All Actions')" >
<!--breadcrumbs-->
<h4><b>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item normal">
          <a href="/main">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            <a aria-current="page">Reporting</a>
        </li>
      </ol>
    </nav>
</b></h4>    
<h6>
    <div class="row">
      <div class="col-md-12">
            <div class="card">
              <div><h4 class="card-header">
                <a> PMT Reporting <!--<a class="article-title" href="{% url  'repoverallexcel' %}">Download Entire Data</a>-->
                 <a><button type="button" class="btn btn-outline-primary btn-sm;" style = "float: right; padding-bottom:1pt; padding-top: 1pt">  <a class ="article-title" href="{% url  'repoverallexcel' %}" style="float: right;">Download Complete Excel <i class="bi bi-file-earmark-spreadsheet"></i> </button> </a></a>
             </h4></div>

            <div class="tab h5" style="background-color: rgb(231, 234, 235);">
              
              <button class="tablinks" onclick="openReport(event, 'All Actions')">All Actions</button>
              <button class="tablinks" onclick="openReport(event, 'Individual')" >Individual (Details)</button>
              <button class="tablinks" onclick="openReport(event, 'IndividualSummary')">Individual (Summary)</button>
              <button class="tablinks" onclick="openReport(event, 'Studies/Workshops')">Studies/Workshops</button>
              <button class="tablinks" onclick="openReport(event, 'Discipline')">Discipline</button>
              <button class="tablinks" onclick="openReport(event, 'DueDate');initiateGoogleChart()">Due Date & Run-Down</button>
              <button class="tablinks" onclick="openReport(event, 'Rejected')">Rejected (Summary)</button>
              <button class="tablinks" onclick="openReport(event, 'RejectedDetails')">Rejected (Details)</button>
              <button class="tablinks" onclick="openReport(event, 'PieChart');initiateGooPieChart()">Pie Charts</button>
              
            </div>
            
            <!--differnt divs for differnt tab and name them based on event name on top-->
            <form method="POST" enctype = 'multipart/form-data' > 
              {% csrf_token %}
              <fieldset class="form-group" >
              <div id = "All Actions"class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px">
                  <table id="table2" class="table table-striped table-hover display" style="width:100%">
                    <thead class="thead-dark">
                      <tr class="filters">
                        {%for items in tableallheader%}
                        {% if items != 'id'%}
                        <th>
                          {{items}}
                        </th>
                        {%endif%}
                        {%endfor%}
                        <th>Action At</th>
                        
                    </tr>
                </thead>
                <tbody>
                  {%for details in lstofallactions%}
                  <tr>
                    <td><a class="article-title" href="{% url  'pmtrepviewall' details.0 %}">{{details.1}}</a> </td>
                    <td>{{details.2}}</td>
                    <td>{{details.3}}</td>
                    <td>{{details.4}}</td>
                    <td width="20%">{{details.5}}</td>
                    <td>{{details.6}}</td>
                    <td>{{details.7}}</td>
                    
                   
                    <td width = "10%">{{details.8}}</td>
                  </tr> 
                  {%endfor%}
                  
                  </tbody>
                  </table>
                  <div>
                    <br>
                    <div class="form-group"><input type="submit" name="allActions" value="Download Excel" class="btn btn-outline-primary float-right col-md-2"  /></div>              
                    </div> 
                    <br> 
              </div>

              <div id = "Individual"class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px">
                <table id="table1" class="table table-striped table-hover display" style="width:100%">
                  <thead class="thead-dark">
                    <tr class="filters">
                      {%for items in tableindiheader%}
                      <th>
                        {{items}}
                      </th>
                      {%endfor%}
                  </tr>
              </thead>
              <tbody>
                {%for items in Indisets%}
    
                
                <tr>
                  
                  <td>{{items.0}}</td>
                  <td>{{items.1}}</td>
                  <td>{{items.2}}</td>
                  <td>{{items.3}}</td>
                  <td>{{items.4}}</td>
                  <td>{{items.5}}</td>
                  <td>{{items.6}}</td>
                  
                </tr> 
                {%endfor%}
                
                 
                </tbody>
                
                </table>
                <br>
                <div>
                  <br>
                  <div class="form-group"><input type="submit" name="indiActions" value="Download Excel" class="btn btn-outline-primary float-right col-md-2 "  /></div>              
                  </div>
                  <br>
              </div>

              <div id = "Studies/Workshops"class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px">
              <table id="table3" class="table table-striped table-hover display" style="width:100%">
                <thead class="thead-dark">
                      <tr class="filters">
                        {%for items in tablestudiesheader%}
                      <th>
                        {{items}}
                      </th>
                      {%endfor%}
                        
                        
                    </tr>
                </thead>
                <tbody>
                  {% for items in lstbyWorkshop%}
                  
                  <tr>
                    <td>{{items.0}}</td>
                    <td>{{items.1}}</td>
                    
                    <td>{{items.2}}</td>
                    <td>{{items.3}}</td>
                    <td>{{items.4}}</td>
                    <td>{{items.5}}</td>
                  </tr> 
                  {%endfor%}
                  
                  </tbody>
              
              </table>
               
              <div>
                <br>
                <div class="form-group"><input type="submit" name="allStudies" value="Download Excel" class="btn btn-outline-primary float-right col-md-2 "  /></div>              
                </div>
                <br>
              </div>
               
              <div id = "Discipline"class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px">
                <table id="table4" class="table table-striped table-hover display" style="width:100%">
                  <thead class="thead-dark">
                        <tr class="filters">
                          {%for items in tabledischeader%}
                        <th>
                          {{items}}
                        </th>
                        {%endfor%}
                          
                          
                      </tr>
                  </thead>
                  <tbody>
                    {% for items in lstbyDisc%}
                    
                    <tr>
                      <td>{{items.0}}</td>
                      <td>{{items.1}}</td>
                      
                      <td>{{items.2}}</td>
                      <td>{{items.3}}</td>
                      <td>{{items.4}}</td>
                      <td>{{items.5}}</td>
                    </tr> 
                    {%endfor%}
                    
                    </tbody>
                </table>
                 
                <div>
                  <br>
                  <div class="form-group"><input type="submit" name="bydiscipline" value="Download Excel" class="btn btn-outline-primary float-right col-md-2 "  /></div>              
                  </div>
                  <br>
                </div>

                <div id = "DueDate"class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3">
                        <table id="duedaterundown" class="table table-striped table-hover " style="width:100%; ">
                          <thead class>
                                <tr class="filters">
                                  {%for items in tableduedateheader%}
                                <th>
                                  {{items}}
                                </th>
                                {%endfor%}
                                  
                              </tr>
                          </thead>
                          <tbody>
                            {% for items in lstbyDueDate%}
                            
                            <tr>
                              <td>{{items.DueDate}}</td>
                              <td>{{items.count}}</td>
                              
                            </tr> 
                            {%endfor%}
                            <tr>
                              <td>Total</td>
                              <td>{{totalallDueDate}}</td>
                            </tr>
                            </tbody>
                          </table>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-8">
                        <div  id="linecharted" ></div>
                      </div>
                    </div>
                    <div class="form-group"><input type="submit" name="byDueDate" value="Download Excel" class="btn btn-outline-primary float-right col-md-2 "  /></div> 

                  </div>
                    <br>
                  </div>
                
                <!--For Pie Charts-->
                  <div id = "PieChart" class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px">
                    <div  style="float:left" >
                      
                    <div  id="piechart1" style="float:left;"></div>
                    <div  id="piechart2" style="float:left;"></div>
                    <div  id="piechart3" style="float:left;"></div>
                    <div  id="piechart4" style="float:left;"></div>
                    <div  id="piechart5" style="float:left;"></div>
                    <div  id="piechart6" style="float:left;"></div>
                    </div>
                  </div>  

                  <!--By Users-->
                    <div id = "IndividualSummary" class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px">
                      <div  style="float:left col-md-12" >
                        <table id="table5" class="table table-striped table-hover display" style="width:100%">
                          <thead class="thead-dark">
                            <tr class="filters">
                              {%for items in listaggregatedindiheader%}
                              <th >
                                {{items}}
                              </th>
                              {%endfor%}
                                
                            </tr>
                        </thead>

                        <tbody>
                          {%for items in listaggregatedindi%}
              
                          
                          <tr>
                            
                            <td width = "25%">{{items.0}}</td>
                            <td>{{items.1}}</td>
                            <td>{{items.2}}</td>
                            
                           
                           
                          </tr> 
                          {%endfor%}
                          
                           
                          </tbody>
                        </table>
                      </div>
                      <div>
                        <br>
                        <div class="form-group"><input type="submit" name="indisummary" value="Download Excel" class="btn btn-outline-primary float-right col-md-2 "  /></div>              
                        </div>
                        <br>
                      </div>

                    </div>

                  

                    <!--Reject items-->
                    <div id = "Rejected" class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px">
                      <div  style="float:left col-md-12" >
                        <table id="table6" class="table table-striped table-hover display" style="width:100%">
                          <thead class="thead-dark">
                            <tr class="filters">
                              {%for items in listofrejectedheader%}
                              <th >
                                {{items}}
                              </th>
                              {%endfor%}
                                
                            </tr>
                        </thead>

                        <tbody>
                          {%for items in listofrejecteditems%}
              
                          
                          <tr>
                            
                            <td width = "25%">{{items.0}}</td>
                            <td>{{items.1}}</td>
                            
                           
                           
                            
                          </tr> 
                          {%endfor%}
                          
                           
                          </tbody>
                          </table>
                      </div>
                    </div>


                    <div id = "RejectedDetails" class="tabcontent" style="border-left:0pc; border-right:0px;border-bottom:0px">
                      <div  style="float:left col-md-12" >
                        <table id="table7" class="table table-striped table-hover display" style="width:100%">
                          {%include "userT/inclactioneeapprtableheader.html"%}
                          <th width ="20%">Responses</th>
                          <th width = "5%">Revision</th>
                            </tr>
                        </thead>

                        <tbody>
                         
                        {% for x  in rejectedactions %}
                  
                                  <tr>
                                    <td><a class="article-title" href="{% url  'pmtrepviewall' x.id %}">{{ x.StudyActionNo }}</a></td>
                                    <td>{{ x.StudyName }}</td>
                                    <td>{{ x.Disipline }} / {{ x.Subdisipline }}</td>
                                    
                                    <td>{{ x.Cause }}</td>
                                    
                                    <td><a class="article-title" href="{% url  'pmtrepviewall' x.id %}">{{ x.Recommendations }}</a></td>
                                    <td>{{ x.DueDate }}</td>
                                    
                                  

                                      {%if riskmatrix%}
                                          {% with initialrisk=x.InitialRisk%}
                                          {% with riskcolour=x.RiskColour%}
                                            {%include "userT/incinitialriskcolour.html"%}
                                            {%endwith%}
                                          {%endwith%}
                                      {%else%}
                                        <td>{{ x.InitialRisk }}</td><!--Original Code-->
                                      {%endif%}

                                      <td>{{ x.Response }}</td>
                                      <td>{{ x.Revision }}</td>
                                  {%endfor%}
                </tbody>
                           
                          </tbody>
                          </table>
                          <div>
                            <br>
                            <div class="form-group"><input type="submit" name="rejectedactions" value="Download Excel" class="btn btn-outline-primary float-right col-md-2"  /></div>              
                            </div> 
                            <br> 
                      </div>

          </fieldset>
         
          
          <!--<div class="form-group"><input type="submit" name="byDueDate" value="Print Graph" class="btn btn-outline-primary float-right col-md-2 "  /></div>-->
        
        </form>
      </div>
    </div>

</h6>
</body>     

{%endblock%}
</html>
