<html>
<style>
.postitnote  {
    width:250px;
  height:240px;
  position:relative;
  background:beige;
  overflow:hidden;
  margin:30px auto;
  padding:20px;
  border-radius:0 0 0 30px/45px;
  font-family: 'Times New Roman', cursive;
  line-height:1.7em;
  font-size:19px;
  } 
</style>

<div class="postitnote" contenteditable>
	<h1>Sticky note</h1>
  <ul>
    <li>THIS IS A TEST 1</li>
  </ul>   
</div>

<div class="postitnote" contenteditable>
	<h1>Sticky note</h1>
  <ul>
    <li>THIS IS A TEST 2</li>
  </ul>   
</div>
</html>