.postitnote  {
    width:250px;
  height:240px;
  position:relative;
  background:beige;
  overflow:hidden;
  margin:30px auto;
  padding:20px;
  border-radius:0 0 0 30px/45px;
  font-family: 'Times New Roman', cursive;
  line-height:1.7em;
  font-size:19px;
  } 
  .left {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .right {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  thead input {
    width: 100%;
  } 
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

}



