/* Design changes for password reset, login box etc. */

.header-blue {
    background-color: rgba(217, 237, 248, 255);
}

.header-blue .title {
    color: #538aa4;
}

.button-blue {
    background-color: #428bca;
    border: #428bca;
    color: white;
}