.postitnote {
  width: 250px;
  /*original value width 250px, height240px*/
  height: auto;
  position: relative;
  background: beige;
  overflow: hidden;
  margin: 30px auto;
  padding: 20px;
  border-radius: 0 0 0 30px/45px;
  font-family: 'Times New Roman', cursive;
  line-height: 1.7em;
  font-size: 19px;
}

thead input {
  width: 100%;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

#download-excel {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
}

/* Style the tab */
.tabset {
  overflow: hidden;
  display: -webkit-box;
  padding-top: 5px;
  padding-bottom: 10px;
}

.tabset button {
  transition: 0.3s;
  cursor: pointer;
}

.tab-top button {
  float: left;
  margin: 5px;
  padding: 14px 16px;
  border: solid #ddd 3px;
  border-radius: 5px;
  outline: none;
}

/* Style the buttons that are used to open the tab content */
.tab-child button {
  background-color: white;
  -webkit-box-flex: 1;
  padding: 10px 15px 6px 15px;
  border: solid #ddd 1px;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
  min-width: 50px;
}

/* Change background color of buttons on hover */
.tab-top button:hover {
  background-color: #ddd;
}

.tab-child button:hover {
  background-image:
    linear-gradient(to bottom, #ddd, white);
}

/* Create an active/current tablink class */
.tab-top button.active {
  background-color: #93D3F0;
  border: solid #086996 1px;
}

.tab-child button.active {
  background-image:
    linear-gradient(to bottom, #93D3F0, white);
  border: solid #ddd 1px;
  border-bottom: none;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  padding: 30px;
  font-size: 20px;
  width: 100%;
}

.card-columns {
  column-count: 2;
}

.rejectcomment {
  overflow-wrap: anywhere;
}

.parent-font {
  font-size: 2rem;
}

.child-one-font {
  font-size: 1.25rem;
}

.child-two-font {
  font-size: 1.1rem;
}

.subtext-font {
  font-size: 0.8rem;
}